<% include includes/header.ejs %>

<!-- Left side column. contains the logo and sidebar -->

<% include includes/menu.ejs %>

<style>

    div.show-image {

        position: relative;

        float: left;

        margin: 5px;

    }

    div.show-image:hover img {

        opacity: 0.5;

    }

    div.show-image:hover .delete {

        display: block;

    }

    div.show-image .delete {

        position: absolute;

        display: none;

    }

    div.show-image .delete {

        top: 40%;

        left: 40%;

    }

</style>

<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">

    <!-- Content Header (Page header) -->

    <section class="content-header">

        <h1>

            <%= page_title %>

        </h1>

        <ol class="breadcrumb">

            <li><a href="<%= base_url %>admin"><i class="fa fa-home"></i> Home</a></li>

            <li class="active"><%= page_title %></li>

        </ol>

    </section>


    <!-- Main content -->


    <section class="content">

        <div class="row">

            <div class="col-xs-12">


                <div class="box">

                    <div class="box-header">

                        <div class="col-md-5"></div>

                        <div class="col-md-2">

                            <button type="button" class="btn btn-block btn-default"

                                    data-toggle="modal" data-target="#myModal">Add New Add
                            </button>

                        </div>

                    </div>
                    <br>


                    <div align="center">

                        <div class="timeline-body">

                            <% for(var i = 0;i < home_ads.length;i++) {
                                var home_ad = home_ads[i]; %>

                            <div class="show-image">

                                <img class="margin" alt="Spaces4all"
                                     src="<%= base_url %>uploads/home-ads/<%= home_ad.image %>" height="180px"
                                     width="240px">

                                <a href="<%= base_url %>admin/home_ads/delete/<%= home_ad.home_ad_id %>"
                                   onclick="return confirm('Are You Sure Want to Delete ?')">
                                    <img alt="" class="delete" src="<%= base_url %>images/delete.png"></a>

                                <p><%= home_ad.project_name %></p>

                                <p><%= home_ad.builder %></p>

                            </div>

                            <% } %>

                        </div>

                    </div>

                    <!-- /.box-header -->

                    <div class="box-body">


                    </div>

                    <!-- /.box-body -->

                </div>

                <!-- /.box -->

            </div>

            <!-- /.col -->

        </div>

        <!-- /.row -->

    </section>

    <!-- /.content -->


</div>

<!-- /.content-wrapper -->


<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">


        <!-- Modal content-->

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title">Add New Ads</h4>

            </div>

            <form action="<%= base_url %>admin/home_ads/add" method="post" enctype="multipart/form-data">

                <div class="modal-body">

                    <div class="row">

                        <div class="col-lg-2"></div>

                        <div class="col-lg-10">

                            <div class="box-body col-xs-12 col-lg-10">

                                <label>Project Name</label>

                                <div class="form-group" align="center">

                                    <input class="form-control" name="project_name" type="text" required="required">

                                </div>

                            </div>

                            <div class="box-body col-xs-12 col-lg-10">

                                <label>Builder</label>

                                <div class="form-group" align="center">

                                    <input class="form-control" name="builder" type="text" required="required">

                                </div>

                            </div>

                            <div class="box-body col-xs-12 col-lg-10">

                                <label>URL</label>

                                <div class="form-group" align="center">

                                    <input class="form-control" name="url" type="text" required="required">

                                </div>

                            </div>

                            <div class="box-body col-xs-12 col-lg-10">

                                <div class="form-group" align="center">

                                    <input class="btn btn-primary" name="photos" type="file" accept="image/*"
                                           required="required">

                                </div>

                            </div>

                            <!-- /.box-body -->


                        </div>

                    </div>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Add</button>

                </div>

            </form>

        </div>


    </div>

</div>


<% include includes/footer.ejs %>