<% include includes/header.ejs %>

<!-- Left side column. contains the logo and sidebar -->

<% include includes/menu.ejs %>


<!-- Content Wrapper. Contains page content -->
<script>
    function showPossession(listPropertyId) {
        setUpValue('list_property_id',listPropertyId)
        showAjaxModal('<%= base_url %>admin/popup/property_possession/'+listPropertyId,'property_possession')
    }
</script>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->

    <section class="content-header">

        <h1>

            <%= page_title %>

        </h1>

        <ol class="breadcrumb">

            <li><a href="<%= base_url %>admin"><i class="fa fa-home"></i> Home</a></li>

            <li class="active"><%= page_title %></li>

        </ol>

    </section>


    <!-- Main content -->


    <section class="content">

        <div class="row">

            <div class="col-xs-12">


                <div class="box">

                    <div class="box-header">

                        <div class="col-md-5"></div>

                        <div class="col-md-2">


                        </div>

                    </div>

                    <!--                    <div align="center">-->

                    <!--                        <?php-->

                    <!--					if ($this->session->flashdata('message')) {-->

                    <!--                        echo "<h5>".$this->session->flashdata('message')."</h5>";-->

                    <!--                        }-->

                    <!--                        ?>-->

                    <!--                    </div>-->

                    <!-- /.box-header -->

                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">

                            <thead>

                            <tr>

                                <th>S.No</th>

                                <th>Name</th>

                                <th>Email</th>

                                <th>Phone</th>

                                <th>Property Type</th>

                                <th>Property Sub Type</th>

                                <th>City</th>

                                <th>Quoted Price</th>

                                <th>Status</th>

                                <th>Hot Property</th>

                                <th>Actions</th>

                            </tr>

                            </thead>

                            <tbody>
                            <% for(var i = 0;i < list_property.length;i++) {
                                var property = list_property[i]
                            %>

                            <tr>

                                <td><%= i %></td>

                                <td><%= property.name %></td>

                                <td><%= property.email %></td>

                                <td><%= property.phone %></td>

                                <td><%= property.property_type_name %></td>

                                <td><%= property.property_sub_type_name %></td>

                                <td><%= property.city_name %></td>

                                <td><%= property.quoted_price %></td>

                                <td>
                                    <% if(property.status == '1') { %>

                                        <a href="<%= base_url %>admin/list_property/status/0/<%= property.list_property_id %>"
                                           onclick="return confirm('Are You Sure Want to Inactive ?')"><b>Active</b></a>
                                    <% } else { %>
                                        <a href="<%= base_url %>admin/list_property/status/1/<%= property.list_property_id %>"
                                           onclick="return confirm('Are You Sure Want to Active ?')"><b
                                                    style="color: red">In-active</b></a>
                                    <% } %>
                                </td>

                                <td>
                                    <% if(property.hot_property == '1') { %>

                                        <a href="<%= base_url %>admin/list_property/hot/0/<%= property.list_property_id %>"
                                           onclick="return confirm('Are You Sure Want to Remove From Hot Property ?')"><b
                                                    style="color: red">Yes</b></a>
                                    <% } else { %>
                                        <a href="<%= base_url %>admin/list_property/hot/1/<%= property.list_property_id %>"
                                           onclick="return confirm('Are You Sure Want to  Make It Hot Property ?')"><b>No</b></a>

                                    <% } %>
                                </td>

                                <td>

                                    <a href="#"
                                       onclick="showPossession('<%= property.list_property_id %>')"><b>Possession</b></a>&nbsp;&nbsp;&nbsp;

                                    <a href="<%= base_url %>admin/list_property/edit/<%= property.list_property_id %>"
                                       title="Edit"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;

                                    <a href="<%= base_url %>admin/list_property/delete/<%= property.list_property_id %>"
                                       onclick="return confirm('Are You Sure Want to Delete ?')"
                                       title="Delete"><i class="fa fa-trash-o"></i></a>
                                    <br/>
                                    <a href="#"
                                       onclick="showAjaxModal1('<%= base_url %>admin/list_property/<%= property.list_property_id %>','property')"><b>View
                                            Details</b></a>
                                    <br/>
                                    <a href="<%= base_url %>admin/list_property/photos/<%= property.list_property_id %>"><b>Edit
                                            Images</b>
                                    </a>
                                    <br/>
                                    <% if(property.latest_property == '1') { %>

                                        <a href="<%= base_url %>admin/list_property/latest/0/<%= property.list_property_id %>"
                                           onclick="return confirm('Are You Sure Want to Remove From Hot Property ?')"><b
                                                    style="color: red">Remove Latest Property</b></a>
                                    <% } else { %>
                                        <a href="<%= base_url %>admin/list_property/latest/1/<%= property.list_property_id %>"
                                           onclick="return confirm('Are You Sure Want to  Make It Hot Property ?')"><b>Make
                                                Latest Property</b></a>

                                    <% } %>

                                </td>

                            </tr>

                            <% } %>
                            </tbody>

                        </table>

                    </div>

                    <!-- /.box-body -->

                </div>

                <!-- /.box -->

            </div>

            <!-- /.col -->

        </div>

        <!-- /.row -->

    </section>

    <!-- /.content -->


</div>

<!-- /.content-wrapper -->


<!-- Modal -->


<!-- (Ajax Modal)-->

<div class="modal fade" id="modal_ajax">

    <div class="modal-dialog">

        <div class="modal-content">

            <form action="<%= base_url %>admin/edit_property_possession" method="post">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Manage Possession</h4>

                </div>


                <div class="modal-body">
                    <label for="project_type">Possession</label>
                    <input class="form-control" id="" name="possession" placeholder="Enter Possession Year(Ex: 2015)"
                           type="text" value="">
                    <input type="hidden" name="list_property_id">
                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Save Changes</button>

                </div>

            </form>

        </div>

    </div>

</div>


<!--<div class="modal fade" id="modal_ajax1">-->

<!--    <div class="modal-dialog">-->

<!--        <div class="modal-content">-->


<!--            <div class="modal-header">-->

<!--                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->

<!--                <h4 class="modal-title">Property Details</h4>-->

<!--            </div>-->


<!--            <div class="modal-body">-->
<!--&lt;!&ndash;                <label for="project_type">Possession</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input class="form-control" id="" name="possession" placeholder="Enter Possession Year(Ex: 2015)"&ndash;&gt;-->
<!--&lt;!&ndash;                       type="text" value="">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="hidden" name="list_property_id" value="103">&ndash;&gt;-->
<!--            </div>-->


<!--            <div class="modal-footer">-->

<!--                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->

<!--            </div>-->


<!--        </div>-->

<!--    </div>-->

<!--</div>-->



<% include includes/footer.ejs %>