<% include includes/header.ejs %>

<!-- Left side column. contains the logo and sidebar -->

<% include includes/menu.ejs %>


<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">

    <!-- Content Header (Page header) -->

    <section class="content-header">

        <h1>

            <%= page_title %>

        </h1>

        <ol class="breadcrumb">

            <li><a href="<%= base_url %>admin"><i class="fa fa-home"></i> Home</a></li>

            <li class="active"><%= page_title %></li>

        </ol>

    </section>


    <!-- Main content -->


    <section class="content">

        <div class="row">

            <div class="col-xs-12">


                <div class="box">


                    <!-- /.box-header -->

                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">

                            <thead>

                            <tr>

                                <th>S.No</th>

                                <th>Request For</th>

                                <th>Name</th>

                                <th>Email</th>

                                <th>Phone</th>

                                <th>City</th>

                                <th>Requested On</th>

                                <th>Actions</th>

                            </tr>

                            </thead>

                            <tbody>

                            <% for(var i = 0;i < service_requests.length;i++) {
                                var service_request = service_requests[i]; %>

                            <tr>

                                <td><%= i %></td>

                                <td><%= service_request.request_for %></td>

                                <td><%= service_request.name %></td>

                                <td><%= service_request.email %></td>

                                <td><%= service_request.phone %></td>

                                <td><%= service_request.city %></td>

                                <td><%= getDate(service_request.datetime) %></td>

                                <td>

                                    <a href="<%= base_url %>admin/services_requests/delete/<%= service_request.request_id %>"
                                       onclick="return confirm('Are You Sure Want to Delete ?')"><i
                                                class="fa fa-trash-o"></i></a>

                                </td>

                            </tr>

                            <% } %>

                            </tbody>

                        </table>

                    </div>

                    <!-- /.box-body -->

                </div>

                <!-- /.box -->

            </div>

            <!-- /.col -->

        </div>

        <!-- /.row -->

    </section>

    <!-- /.content -->


</div>

<!-- /.content-wrapper -->


<% include includes/footer.ejs %>