<script>
    function calculateStampDuty() {
        var propertyValue = $('input[name=stampduty_property_value]').val(),
            stampdutyId = $('select[name=stamp_duty_id]').val();
        console.log(stampdutyId);
        if (propertyValue != "" && stampdutyId != "") {
            $.ajax({
                type: "GET",
                url: "<%= api_url %>calculate_stamp_duty",
                data: {
                    id: stampdutyId,
                    propertyValue: propertyValue
                },
                success: function (response) {
                    console.log(response);
                    $("input[name=stamp_duty").val(response);
                }
            });
        }
    }

    function calculateEmi(amount, interest, tenure) {
        var intr = interest / 1200;
        var principle = amount;
        var emi = Math.ceil(amount * intr / (1 - (Math.pow(1 / (1 + intr), tenure))));
        var total_interest = Math.ceil((amount * intr / (1 - (Math.pow(1 / (1 + intr), tenure)))) * tenure) - amount;
        var total_amount = amount + total_interest;
        var response = '<div class="padding-as25 margin-30"><div>';
        response += '<div class="row"><h5>Your Monthly EMI is</h5><b><span class="">Rs. ' + emi + ' /-</span></b></div><hr>';
        response += '<div class="row"><h5>Total Amount Payable</h5><b><span class="">Rs. ' + total_amount + ' /-</span></b></div><hr>';
        response += '<div class="row"><h5>Total Principle Amount Payable</h5><b><span class="">Rs. ' + principle + ' /-</span></b></div><hr>';
        response += '<div class="row"><h5>Total Intrest Amount Payable</h5><b><span class="">Rs. ' + total_interest + ' /-</span></b></div></div></div>';
        $('#emi_value').html(response);
    }

    function loadEligibilityCheck(loanAmount, netIncome, tenure, interest) {
        // console.log(loanAmount, netIncome, tenure, interest);
        var intr = interest / 1200;
        var amount = netIncome * 60;
        var maxLoan = netIncome * 60;
        var loanEmi = Math.ceil(loanAmount * intr / (1 - (Math.pow(1 / (1 + intr), tenure))));
        maxEmi = Math.ceil(amount * intr / (1 - (Math.pow(1 / (1 + intr), tenure))));
        if (loanAmount <= amount) {
            var response = '<h5><i class="fa fa-check"></i> You are Eligible for this loan</h5><b style="font-size: 18px">Rs.' + loanAmount + ' at EMI Rs. ' + loanEmi + ' </b><br><br><hr>';
            response += '<p style="font-size: 15px">You are Eligible for a maximum loan of </p><b><span class="">Rs. ' + maxLoan + ' at EMI Rs.' + maxEmi + '</span></b>';
        } else {
            var response = '<h5><i class="fa fa-check"></i>Sorry You are Not Eligible for this loan</h5><b style="font-size: 18px">Rs.' + loanAmount + ' at EMI Rs. ' + loanEmi + ' </b><br><br><hr>';
            response += '<p style="font-size: 15px">You are Eligible for a maximum loan of </p><b><span class="">Rs. ' + maxLoan + ' at EMI Rs.' + maxEmi + '</span></b>';
        }
        response += '<br/><br/><br/><br/>';
        response += '<a href = "<%= base_url %>home/apply_home_loan" class="btn btn-primary btn-lg" > Apply For a Loan</a>';
        $('#loan_eligibility_response').html(response);
    }

    function setUpHomeSlider() {
        $.ajax({
            method: "GET",
            url: "<%= api_url %>get_home_slider",
            success: function (response) {
                var result = '';
                for (var i = 0; i < response.length; i++) {
                    var slide = response[i];
                    result += '<li class="parallax" style="background-image:url(uploads/home-slide/' + slide.image + ');">';
                    result += '<a href="' + slide.url + '" class="btn" style="width: 100%; height: 100%;"> </a></li>';
                }
                $("#slides").html(result);
            }

        });
    }

    function setUpCities(divId, cityId) {
        $.ajax({
            method: "GET",
            url: "<%= api_url %>get_cities",
            success: function (response) {
                var result = '<option value="">---City---</option>';
                if (response.success) {
                    var cities = response.data;
                    for (var i = 0; i < cities.length; i++) {
                        var row = cities[i];
                        if (cityId != "" && cityId != undefined) {
                            if (cityId == row.city_id) {
                                result += '<option value="' + row.city_id + '" selected >' + row.city + '</option>';
                            } else {
                                result += '<option value="' + row.city_id + '">' + row.city + '</option>';
                            }
                        } else {
                            result += '<option value="' + row.city_id + '">' + row.city + '</option>';
                        }
                    }
                }
                $(divId).find('option').remove().end();
                $(divId).append(result);
                // $(divId).selectpicker('refresh');
            }
        });
    }

    function setUpProjectTypes(divId, projectType) {
        $.ajax({
            method: "GET",
            url: "<%= api_url %>get_project_types",
            success: function (response) {
                var result = '<option value="">Type</option>';
                if (response.success) {
                    var data = response.data;
                    for (var i = 0; i < data.length; i++) {
                        var row = data[i];
                        if (projectType && projectType == row.project_type_id) {
                            result += '<option value="' + row.project_type_id + '" selected>' + row.type + '</option>';
                        } else {
                            result += '<option value="' + row.project_type_id + '">' + row.type + '</option>'
                        }
                    }
                }
                $(divId).find('option').remove().end();
                $(divId).append(result);
            }
        });
    }

    function getProjectSubTypes(str, divId, selectedType) {
        if(str) {
            $.ajax({
                type: 'GET',
                url: '<%= api_url %>get_project_sub_types',
                data: {
                    project_type: str
                },
                success: function (response) {
                    var result = '<option value="">---SELECT---</option>';
                    for (var i = 0; i < response.length; i++) {

                        if (selectedType && selectedType == response[i].project_sub_type_id) {
                            result += '<option value="' + response[i].project_sub_type_id + '" selected>' + response[i].sub_type + '</option>';
                        } else {
                            result += '<option value="' + response[i].project_sub_type_id + '">' + response[i].sub_type + '</option>';
                        }
                    }
                    $(divId).find('option').remove().end();
                    $(divId).append(result);

                }
            });
        }
    }

    function showLocality(cityId, divId, localityId) {
        if (cityId) {
            $.ajax({
                method: "GET",
                url: "<%= api_url %>get_localities",
                data: {
                    city_id: cityId
                },
                success: function (response) {
                    var result = '';
                    result += '<option value="">--- Locality ---</option>';
                    for (var i = 0; i < response.length; i++) {
                        var row = response[i];
                        if (localityId && row.locality_id == localityId) {
                            result += '<option value="' + row.locality_id + '" selected>' + row.locality + '</option>'
                        } else {
                            result += '<option value="' + row.locality_id + '">' + row.locality + '</option>'
                        }
                    }

                    $(divId).find('option').remove().end();
                    $(divId).append(result);
                }
            });
        }
    }

    function send_Project_Callback() {

        var filter = /^[0-9-+]+$/;

        var name = $("#call_name").val();

        var phone = $("#call_phone").val();

        var project_id = $("#call_project_id").val();

        var dataString = 'name=' + name + '&phone=' + phone + '&project_id=' + project_id;


        if ($("#call_name").val() == "") {

            $("#call_name").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Name</strong></div>");

        } else if ($("#call_phone").val() == "") {

            $("#call_phone").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

        } else if (phone.length != "10") {

            $("#call_phone").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

        } else if (!filter.test(phone)) {

            $("#call_phone").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

        } else {
            $.ajax({
                type: "GET",
                url: "<%= base_url %>apis/add_project_call_back",
                data: {
                    name: name,
                    phone: phone,
                    project_id: project_id
                },
                success: function (response) {
                    jQuery('#call_back_response').html(response);

                }

            });
        }
    }

    function send_Property_Callback() {
        var filter = /^[0-9-+]+$/;

        var name = $("#call_name").val();

        var phone = $("#call_phone").val();

        var property_id = $("#call_project").val();

        // var dataString = 'name=' + name + '&phone=' + phone + '&property_id=' + property_id;

        if (name == "") {

            $("#call_name").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Name</strong></div>");

        } else if (phone == "") {

            $("#call_phone").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

        } else if (phone.length != "10") {

            $("#call_phone").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

        } else if (!filter.test(phone)) {

            $("#call_phone").focus();

            $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

        } else {

            $.ajax({
                type: "GET",
                url: "<%= api_url %>add_property_call_back",
                // data: dataString,
                data: {
                    name: name,
                    phone: phone,
                    property_id: property_id
                },
                success: function (response) {
                    $('#call_back_response').html(response);
                }
            });
        }
    }

    function setUpAmenities(divId) {
        $.ajax({
            type: 'GET',
            url: "<%= api_url %>get_amenities",
            success: function (response) {
                var result = "";
                if (response.success) {
                    var data = response.data;
                    for (var i = 0; i < data.length; i++) {
                        result += "<div class='col-md-3'><label><input type='checkbox' name='amenities1[]' value=" + data[i].amenity_id + "></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + data[i].amenity + "</div>";
                    }
                }
                $(divId).html(result);
            }
        });
    }

    function setUpPropertyTypes(divId, selectedType) {
        $.ajax({
            type: 'GET',
            url: "<%= api_url %>get_property_types",
            success: function (response) {
                var result = '<option value="">---Property Type---</option>';
                if (response.success) {
                    console.log('welcome');
                    var data = response.data;
                    for (var i = 0; i < data.length; i++) {
                        if (selectedType && selectedType == data[i].property_type_id) {
                            result += '<option value="' + data[i].property_type_id + '" selected>' + data[i].type + '</option>';
                        } else {
                            result += '<option value="' + data[i].property_type_id + '">' + data[i].type + '</option>';
                        }
                    }
                    console.log(result);
                }
                $(divId).find('option').remove().end();
                $(divId).append(result);
                // $(divId).selectpicker('refresh');
            }
        });
    }

    function setUpStates(divId) {
        $.ajax({
            method: 'GET',
            url: '<%= api_url %>get_states',
            success: function (response) {
                var result = '<option value="">---SELECT---</option>';
                if (response.success) {
                    var data = response.data
                    for (var i = 0; i < data.length; i++) {
                        result += '<option value="' + data[i].state_id + '">' + data[i].state_name + '</option>'
                    }
                }
                $(divId).html(result);
            }
        });
    }

    function getPropertySubTypes(str, divId) {
        if (str && divId) {
            $.ajax({
                type: 'GET',
                url: '<%= api_url %>get_property_sub_types',
                data: {
                    property_type: str
                },
                success: function (response) {
                    var result = '<option value="">---SELECT---</option>';
                    if (response.success) {
                        var data = response.data;
                        for (var i = 0; i < data.length; i++) {
                            result += '<option value="' + data[i].property_sub_type_id + '">' + data[i].sub_type + '</option>';
                        }
                    }
                    $(divId).find('option').remove().end();
                    $(divId).append(result);
                }
            });
        }
    }

    function setUpSubPropertiesByPropertyType(propertyType, propertySubType) {
        $.ajax({
            type: 'GET',
            url: '<%= api_url %>get_property_subtype_using_property_type',
            data: {
                property_type: propertyType
            },
            success: function (response) {
                console.log(response);
            }
        })
    }

    function send_enquiry(propertyId) {
        var name = $("#name2").val();
        var phone = $("#phone2").val();
        var email = $("#email2").val();
        var comments = $("#comments2").val();
        $.ajax({
            type: "GET",
            url: "<%= api_url %>property_enquiry/" + propertyId,
            data: {
                name: name,
                phone: phone,
                email: email,
                comments: comments
            },
            success: function (response) {
                console.log(response);
            }
        });
    }

    function add_Compare(type, property_id, element) {
        $.ajax({
            url: "<%= base_url %>home/add_compare/" + type + "/" + property_id,
            success: function (response) {
                if (response.success) {
                    updateComparisonCounts(type, element);
                }
            }
        });
    }

    function updateComparisonCounts(type, element) {
        $.ajax({
            type: "GET",
            url: "<%= base_url %>home/compare_count/" + type,
            success: function (response) {
                if (response.success) {
                    console.log('#' + type + "_compare_count");
                    $('#' + type + "_compare_count").html(response.count);
                    var offset = $(element).offset();
                    var topOffset = offset.top;//- $(window).scrollTop();
                    $("#comparison-hover").css({
                        position: "absolute",
                        top: (topOffset + 35) + "px",
                        left: (offset.left) + "px",
                    });
                    $("#comparison-hover").show();

                }
            }
        })
    }

    function hideComparisonPopup() {
        $("#comparison-hover").hide();
    }

    function setUpValue(nameSelector, value) {
        $("[name=" + nameSelector + "]").val(value)
    }

    function selectOption(nameSelector, value) {
        var value1 = value
        if (!value1) {
            value1 = " invalid"
        }
        var values = value1.split(',');
        values.forEach(function (eachValue) {
            $('[name="' + nameSelector + '"] option[value="' + eachValue + '"]').attr('selected', 'selected')
        })
    }

    function selectAmenities(amenities) {
        var amenitiesList = amenities.split(',')
        $("[name='amenities1[]']").each(function () {
            if (amenitiesList.includes($(this).val())) {
                $(this).prop('checked', true)
            }
        })
    }

    function selectBanks(banks) {
        var banksList = banks.split(',')
        $("[name='banks[]']").each(function () {
            if (banksList.includes($(this).val())) {
                $(this).prop('checked', true)
            }
        })
    }

    function showAjaxModal1(url, type) {
        if (['property_possession', 'property_callback'].includes(type)) {

        } else {
            $.ajax({
                url: url,
                success: function (response) {
                    if (response.success) {
                        var body = "";
                        console.log('welcome');
                        if (type == 'property') {
                            body = prepareDetailsResponse(response.data);
                        } else if (type == 'feedback') {
                            body = prepareFeedbackDetails(response.data);
                        } else if (type == 'post_requirement') {
                            body = preparePostRequirementDetails(response.data);
                        }
                        $('#modal_ajax1 .modal-body').html(body);
                    } else {
                        $('#modal_ajax1 .modal-body').html("No Details Available");
                    }

                }
            });
        }
        $('#modal_ajax1').modal('show', {backdrop: 'true'});
    }
</script>