<% include includes.ejs %>
<style type="text/css">
    .fb a {

        color: #3B5998;

    }

    .tw a {

        color: #00aced;

    }

    .ig a {

        color: #3f729b;

    }

    .yt a {

        color: #cd201f;

    }
</style>

<link rel="stylesheet" href="<%= base_url %>rupeefont/rupee.css" type='text/css' />

<script type="text/javascript">

    $(document).ready(function () {

        // $('#project_compare').load("<%= base_url %>home/compare_count/project");

    });

    $(document).ready(function () {

        // $('#property_compare').load("<%= base_url %>home/compare_count/property");

    });

    $(document).ready(function () {

        // $('#rent_compare').load("<%= base_url %>home/compare_count/rent");

    });

    function Submit_Enquiry() {

        var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;

        var filter = /^[0-9-+]+$/;

        var name = $("#name").val();

        var email = $("#email").val();

        var phone = $("#phone").val();

        var city = $("#city").val();


        if ($("#name").val() == "") {

            $("#name").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Name</strong></div>");

            return false;

        } else if ($("#email").val() == "") {

            $("#email").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid Email Id</strong></div>");

            return false;

        } else if (!emailRegex.test(email)) {

            $("#email").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid Email Id</strong></div>");

            return false;

        } else if ($("#phone").val() == "") {

            $("#phone").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

            return false;

        } else if (phone.length != "10") {

            $("#phone").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

            return false;

        } else if (!filter.test(phone)) {

            $("#phone").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

            return false;

        } else if ($("#city").val() == "") {

            $("#city").focus();

            $("#errorBox").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter City</strong></div>");

            return false;

        } else {

            return true;

        }


    }
</script>

<!-- Start Site Header -->

<header class="site-header">
    <div class="comparison-hover" id="comparison-hover">
        <span>&nbsp;&nbsp;&nbsp;Comparing</span>
        <span class="mdi mdi-close" style="float:right;margin-right:5px;" onclick="hideComparisonPopup()"></span>
        <hr />
        <ul class="list-group nomargin">
            <li class="list-group-item"><a href="<%=base_url%>home/compare/property">Property [<span id="property_compare_count">0</span>]</a></li>
            <li class="list-group-item"><a href="<%=base_url%>home/compare/project">Projects [<span id="project_compare_count">0</span>]</a></li>
            <li class="list-group-item"><a href="<%=base_url%>home/compare/rent">Rent [<span id="rent_compare_count">0</span>]</a></li>
        </ul>
    </div>


    <div class="middle-header">

        <div class="container">

            <div class="row">

                <div class="col-md-4 col-sm-8 col-xs-8">

                    <h1 class="logo"><a href="<%= base_url %>"><img src="<%= base_url %>img/logo.jpg" alt="Logo"></a>
                    </h1>

                </div>

                <div class="col-md-8 col-sm-4 col-xs-4">

                </div>


                <a href="#" class="visible-sm visible-xs menu-toggle blk"><i class="fa fa-bars"></i></a>

            </div>

        </div>

    </div>

    </div>

    <% var exCity = header_city_limit;
    exl_city = exCity[0].city_id %>

    <div class="main-menu-wrapper">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <nav class="navigation">

                        <ul class="sf-menu">

                            <li class=""><a href="<%= base_url %>">Home</a></li>

                            <li class=""><a href="#">Buy</a>

                                <ul class="dropdown">

                                    <!-- <li><a href="<%= base_url %>home/search">Search a property</a></li> -->

                                    <!-- <li><a href="<%= base_url %>home/post_requirement">Post your Requirement</a></li> -->

                                    <li><a href="<%= base_url %>home/hot_properties/<%= exl_city %>">Hot properties</a>
                                    </li>

                                    <li><a href="<%= base_url %>home/exclusive_projects/<%= exl_city %>">Exclusive
                                            Projects</a></li>

                                </ul>

                            </li>

                            <li class=""><a href="javascript:;"> Sell</a>

                                <ul class="dropdown">

                                    <li><a href="<%= base_url %>home/list_property">List your property</a></li>

                                </ul>

                            </li>

                            <li class="">

                                <a href="javascript:;">Rent</a>

                                <ul class="dropdown">

                                    <li><a href="<%= base_url %>home/rent_in">Rent In</a></li>

                                    <li><a href="<%= base_url %>home/rent_out">Rent Out</a></li>

                                </ul>

                            </li>

                            <li class=""><a href="javascript:;">Mortgage</a>

                                <ul class="dropdown">
                                    <li><a href="<%= base_url %>home/emi_calculator">EMI Calculator</a></li>
                                    <li><a href="<%= base_url %>home/loan_eligibility_check">Loan Eligibility Check</a> </li>
                                    <li><a href="<%= base_url %>home/req_docs_forloan">Required Documents for Loan</a>
                                    <li><a href="<%= base_url %>home/apply_home_loan">Apply home Loan</a></li>
                            </li>

                        </ul>

                        </li>

                        <li class=""><a href="#">Info</a>

                            <ul class="dropdown">

                                <!-- <li><a href="<%= base_url %>home/information">Information</a></li> -->

                                <!-- <li><a href="<%= base_url %>home/popular_agents">Useful Contacts</a></li> -->

                                <li><a href="<%= base_url %>home/glossarys">Glossary</a></li>

                                <!-- <li><a href="<%= base_url %>home/faqs">Faqs</a></li> -->

                                <!-- <li><a href="<%= base_url %>home/price_trends">Price Trends / Rates</a></li> -->

                                <li><a href="<%= base_url %>home/area_conversion_calculator">Area Conversation
                                        Table</a></li>

                                <li><a href="<%= base_url %>home/stamp_duty_calculator">Stamp Duty Calculator</a>
                                </li>

                            </ul>

                        </li>

                        <li class=""><a href="<%= base_url %>home/contact" style="border-right: none;"> Contact</a>
                        </li>

                        </ul>

                        <ul class="nan">

                            <li><a href="<%= base_url %>home/post_requirement" class="btn btn-sm btn-primary"> Post your
                                    Requirement
                                </a></li>

                        </ul>

                    </nav>


                </div>

            </div>

        </div>

    </div>

</header>