<div class="widget sidebar-widget popular-agent bckk">

  <h3 class="widgettitle">Project Video</h3>

  <div class="fluid-width-video-wrapper" style="padding-top: 60.9375%;width: 100%;height: 250px">
    <% var sidebarLinks = footer_project_link;
          for(var i = 0;i < sidebarLinks.length;i++) { %>
    <%-sidebarLinks[i].link %>
    <% } %>

  </div>

</div>

<!--  <div style="height: 7px;width: 100%; background-color: #fff;"> &nbsp;</div>  -->

<div class="widget sidebar-widget popular-agent  bckk" style="margin-top: 13px; height: 260px">

  <h3 class="widgettitle">Latest News </h3>

  <div class="ticker">

    <ul id="ticker">

      <% var sideBarNewsLimit = sidebar_news_limit;
        var count = 1;
        for(var i=0;i< sideBarNewsLimit.length;i++) {
            var newsLimitRow = sideBarNewsLimit[i]; %>

      <li style="display: list-item;">

        <a href="<%= base_url %>home/news/<%= newsLimitRow.news_id %>" <% if(count == 1){ %> style="color: red" <% } %>
          <% if(count == 2){ %>style="color: blue" <% } %> <% if(count== 3){ %>style="color: orange"
          <% } %>><%= newsLimitRow.title %></a>

      </li>

      <% 
        if(count == 3) {
          count = 0;
        }
        count++;
      }
      %>
    </ul>

  </div>

</div>



<div class="widget sidebar-widget latest-testimonials  bckk" style="margin-top: 13px; height: 420px;">

  <h3 class="widgettitle">Customer Testimonials</h3>

  <ul class="testimonials">

    <li>

      <% var testimonials = sidebar_testimonials;
      for(var i = 0;i < testimonials.length;i++) { 
        var testimonial = testimonials[i];%>

      <p style="height: 300px;overflow: auto"><%= testimonial.testimonial %></p>

      <b><%= testimonial.name %>- <strong><%= testimonial.company %></strong> </b>

      <% } %>
    </li><b>

    </b>
  </ul><b>

  </b>
</div>

<% var ads = sidebar_home_ads;
  for(var i=0;i< ads.length;i++) { var ad = ads[i]; %>

<div class="widget sidebar-widget popular-agent  bckk" style="margin-top: 14px; height: 231px">

  <a href="<%= ad.url %>"><img alt="spaces4all" src="<%= base_url %>uploads/home-ads/<%= ad.image %>"
      style="height: 150px; width:100%">

    <div class="" style="text-align: center;">

      <h5><%= ad.project_name %></h5>
      <b style="padding-bottom: 4px;"><%= ad.builder %></b>
  </a>

</div>

</div>

<% } %>