<li class="p10px">
    <i class="fa fa-building-o overview-icon"></i>
    <p>
        <span class="overview-details">
            Property Type
            <br />
            <b><%= project.project_type_name %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-home overview-icon"></i>
    <p>
        <span class="overview-details">
            Unit
            <br />
            <b><%= plansString %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-linode overview-icon"></i>
    <p>
        <span class="overview-details">
            Area Range
            <br />
            <b><%= areaString %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-columns overview-icon"></i>
    <p>
        <span class="overview-details">
            No of Floors
            <br />
            <b><%= project.no_of_floors %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-object-ungroup overview-icon"></i>
    <p>
        <span class="overview-details">
            No of Units
            <br />
            <b><%= project.total_units %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-bandcamp overview-icon"></i>
    <p>
        <span class="overview-details">
            Total Area
            <br />
            <b><%= project.total_area %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-map-marker overview-icon"></i>
    <p>
        <span class="overview-details">
            Location
            <br />
            <b><%= project.locality_name %>, <br /><%=project.city_name %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-inr overview-icon"></i>
    <p>
        <span class="overview-details">
            Starting Price
            <br />
            <b><%= project.min_price_formatted %></b>
        </span>
    </p>
</li>
<li class="p10px">
    <i class="fa fa-hourglass-o overview-icon"></i>
    <p>
        <span class="overview-details">
            Status
            <br />
            <b><%= getYear(project.possesion_date) %></b>
        </span>
    </p>
</li>

<%  if(project.project_sub_type_name == PROJECT_SUB_TYPE_VILLA) {%>
    <li class="p10px">
        <i class="fa fa-hourglass-o overview-icon"></i>
        <p>
            <span class="overview-details">
                Total Villas
                <br />
                <b><%= project.total_units %></b>
            </span>
        </p>
    </li>
<%}%>