<li class="p10px">
    <i class="fa fa-building-o overview-icon"></i>
    <p>
        <span class="overview-details">
            Project Type
            <br />
            <b><%= project.project_type_name %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fa fa-home overview-icon"></i>
    <p>
        <span class="overview-details">
            BHK
            <br />
            <b><%= project.plans %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fas fa-warehouse  overview-icon"></i>
    <p>
        <span class="overview-details">
            Total No. of Units
            <br />
            <b><%= project.total_units %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fab fa-artstation overview-icon"></i>
    <p>
        <span class="overview-details">
            Project Sub Type
            <br />
            <b><%= project.project_sub_type_name %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fa fa-linode overview-icon"></i>
    <p>
        <span class="overview-details">
            Area Range
            <br />
            <b><%= areaString %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fa fa-bandcamp overview-icon"></i>
    <p>
        <span class="overview-details">
            Project Area
            <br />
            <b><%= project.total_area %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fa fa-map-marker overview-icon"></i>
    <p>
        <span class="overview-details">
            Location
            <br />
            <b><%= project.locality_name %>, <br /><%=project.city_name %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fa fa-columns overview-icon"></i>
    <p>
        <span class="overview-details">
            No. of Floors
            <br />
            <b><%= project.no_of_floors %></b>
        </span>
    </p>
</li>

<li class="p10px">
    <i class="fa fa-hourglass-o overview-icon"></i>
    <p>
        <span class="overview-details">
            Status
            <br />
            <b><%= getYear(project.possesion_date) %></b>
        </span>
    </p>
</li>
