<!DOCTYPE HTML>
<html class="no-js">

<head>
    <% include includes/includes.ejs %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form#home_loan_form").submit(function (e) {
                // $("#submit_button").attr("disabled", true);
                var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
                var numberRegex = /^[0-9-+]+$/;
                var purpose = $("#purpose").val();
                var bank = $("#bank").val();
                var loanAmount = $("#loan_amount").val();
                var annualIncome = $("#annual_income").val();
                var name = $("#name").val();
                var email = $("#email").val();
                var phone = $("#mobile").val();
                var dob = $("#dob").val();
                var city = $("#city").val();

                if (!purpose) {
                    alert('Please select purpose')
                    return false
                }
                if (!bank) {
                    alert('Please select bank')
                    return false
                }
                if (!loanAmount) {
                    alert('Please enter loan amount')
                    return false
                } else {
                    if (!numberRegex.test(loanAmount)) {
                        alert('Loan amount should be a number')
                        return false
                    }
                }
                if (!annualIncome) {
                    alert('Please type annual income')
                    return false
                } else {
                    if (!numberRegex.test(annualIncome)) {
                        alert('Annual Income should be a number')
                        return false
                    }
                }
                if (!name) {
                    alert('Please enter name')
                    return false
                } else {
                    if (name.length < 3) {
                        alert('Name should be greater than 3 characters')
                        return false
                    }
                }
                if (!email) {
                    alert('Please enter email')
                    return false
                } else {
                    if (!emailRegex.test(email)) {
                        alert('Email should can contain characters, numbers, dot(.) and underscore(_)')
                        return false
                    }
                }
                if (!phone) {
                    alert('Please type phone number')
                    return false
                } else {
                    if (!numberRegex.test(phone)) {
                        alert('Phone number should contain only numbers')
                        return false
                    }
                    if (phone.length != 10) {
                        alert('Phone number should have 10 numbers')
                        return false
                    }
                }
                if (!dob) {
                    alert('Please enter dob')
                    return false
                }
                if (!city) {
                    alert('Please enter city')
                    return false
                }
                e.preventDefault();
                var formData = new FormData(this);
                // for (var value of formData.values()) {
                //     console.log(value);
                // }
                $.ajax({
                    type: "POST",
                    url: "<%= base_url %>home/add_home_loan",
                    data: formData,
                    success: function (result) {
                        alert(result.message)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                })
            });
        });

    </script>



</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1>Apply Home Loan</h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-12">

                                <form id="home_loan_form" action="<%= base_url %>home/add_home_loan" method="post">

                                    <% console.log(loanErrorMsg); if(!loanError) {
                                        if(loanErrorMsg != "") {  %>
                                    <div class="block-heading" id="" align="center">
                                        <h4 style="color: green"><%= loanErrorMsg %></h4>
                                    </div>
                                    <% } }else { %>
                                    <div class="block-heading" id="" align="center">
                                        <h4 style="color: red"><%= loanErrorMsg %></h4>
                                    </div>
                                    <%}%>
                                    <div id="errorBox"></div>

                                    <div class="padding-as25 margin-30 lgray-bg">

                                        <div class="row">

                                            <div class="col-md-6 col-sm-10">

                                                <label>Purpose*</label> <select id="purpose" name="purpose"
                                                    class="form-control">

                                                    <option value="">Select Purpose</option>

                                                    <option value="Buy Ready-to-occupy Home">Buy Ready-to-occupy Home
                                                    </option>

                                                    <option value="Buy Under-Construction Home">Buy Under-Construction
                                                        Home</option>

                                                    <option value="Buy a Plot Of Land">Buy a Plot/Land</option>

                                                    <option value="Transfer Existing Home Loan">Transfer Existing Home
                                                        Loan</option>

                                                    <option value="Repair &amp; Renovate Own Home">Repair and Renovation</option>

                                                </select>

                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-sm-10">

                                                <label>Bank*</label> <select id="bank" name="bank" class="form-control">

                                                    <option value="">Select Bank</option>

                                                    <% for(var i=0;i < banks.length;i++) {
                                                        var bank = banks[i]; %>
                                    <option value="<%= bank.bank_id %>"><%= bank.bank_name %></option>
                                    <% } %>
                                    </select>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-10">

                                <label>Loan Amount (Rs)* </label> <input type="number" name="loan_amount"
                                    id="loan_amount" class="form-control" placeholder="Loan Amount (Rs)" value="">

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-10">
                                <label>Annual Income*</label>
                                <input type="number" id="annual_income" name="annual_income" class="form-control"
                                    placeholder="Annual Income (Rs)" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-10">
                                <label>Name*</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder=" Enter Name"
                                    value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-10">
                                <label>Mobile*</label>
                                <input type="number" name="mobile" id="mobile" class="form-control"
                                    placeholder=" Enter Mobile" value="" size='10' maxlength="10">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-sm-10">
                                <label>Email*</label>
                                <input type="text" name="email" id="email" class="form-control"
                                    placeholder=" Enter Email" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-10">
                                <label>DOB*</label>
                                <input type="date" name="dob" id="dob" class="form-control" value="">
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6 col-sm-10">
                                <label>City*</label>
                                <input type="text" name="city" id="city" class="form-control" placeholder=" Enter City"
                                    value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-5">
                                <button type="submit" name="submit" class="btn btn-primary btn-lg">Apply Now</button>
                            </div>

                        </div>

                    </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

    </div>

    </div>

    <!-- Start Site Footer -->
    <% include includes/footer.ejs %>
</body>

</html>