<!DOCTYPE HTML>

<html class="no-js">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> Spaces4All - <%=page_name %> </title>

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta name="author" content="">

    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="<%= base_url%>stylesheets/bootstrap.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url%>stylesheets/style.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url%>plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url%>plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url%>plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

    <link class="alt" href="<%= base_url%>stylesheets/color.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>

    <script src="<%= base_url%>javascripts/modernizr.js"></script>

</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1> <%= page_title %> </h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-9">

                                <img alt="Space4all" src="<%= base_url %>units-conversion.jpg"
                                    style="margin-top: -40px">





                            </div>

                            <!-- Start Sidebar -->

                            <div class="sidebar right-sidebar col-md-3">

                                <div class="widget sidebar-widget">

                                    <% include includes/sidebar.ejs %>

                                </div>



                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Start Site Footer -->



        <% include includes/footer.ejs %>



</body>

</html>