<!DOCTYPE HTML>

<html class="no-js">

<head>
<% include includes/includes.ejs %>
    <script>

        function Show_locality(str) {

            //alert(str);

            if (str.length == 0) {

                document.getElementById("Showlocality").innerHTML = "";

                return;

            }


            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari

                xmlhttp = new XMLHttpRequest();

            } else {// code for IE6, IE5

                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

            }

            xmlhttp.onreadystatechange = function () {

                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                    //alert(xmlhttp.responseText);

                    document.getElementById("Showlocality").innerHTML = xmlhttp.responseText;

                }

            }

            xmlhttp.open("GET", "<?php echo base_url();?>ajax/get_locality/" + str, true);

            xmlhttp.send();

        }


        function showAjaxModal(project_id) {
            var modalBody = '<div id="errorBox3"></div>' +
                '<div class="row">' +
                '<div class="col-md-6 col-sm-6">' +
                '<label>NAME*</label>' +
                '<input type="text" id="call_name" name="call_name" class="form-control" placeholder="Name" required="required">' +
                '</div>' +
                '<div class="col-md-6 col-sm-6">' +
                '<label>PHONE NUMBER*</label>' +
                '<input type="text" id="call_phone" name="call_phone" class="form-control" placeholder="Phone Number" required="required">' +
                '</div>' +
                '<input type="hidden" id="call_project_id" name="call_project_id" value="">' +
                '</div>';
            $('#call_back_response').html(modalBody);
            $('#call_project_id').val(project_id);
            $('#modal_ajax').modal('show', {backdrop: 'true'});
        }


    </script>

</head>

<body>

<div class="body">

    <!-- Start Site Header -->

    <% include includes/header.ejs %>

    <!-- End Site Header -->

    <!-- Site Showcase -->

    <div class="site-showcase">

        <!-- Start Page Header -->

        <div class="parallax page-header" style="background-image: url(images/page-header1.jpg);">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <h1><%= page_title %></h1>

                    </div>

                </div>

            </div>

        </div>

        <!-- End Page Header -->

    </div>


    <!-- Start Content -->

    <div class="main" role="main">

        <div id="content" class="content full">

            <div class="container">

                <div class="page">

                    <div class="row">


                        <div class="row">

                            <div class="col-md-12">

                                <div class="row">

                                    <div class="col-md-3" style="float: right;">

                                        <form action="<%= base_url %>home/exclusive_projects" method="POST">

                                            <select name="city" id="exclusive_projects_city"
                                                    class="form-control input-lg" onchange="this.form.submit()">

                                                <script> setUpCities("#exclusive_projects_city", "<%= city_id %>");</script>

                                            </select>

                                        </form>

                                    </div>

                                </div>

                                <div class="property-listing">

                                    <% if ( exclusive_projects.length > 0 ) { %>

                                        <ul>

                                            <% for(var i = 0; i < exclusive_projects.length; i++) {
                                                var exclusive_project = exclusive_projects[i]; %>

                                            <li class="type-rent col-md-12">

                                                <div class="col-md-5">

                                                    <a href="#" class="property-featured-image">
                                                        <div class="overlay" style="line-height: 151px"></div>
                                                        <img
                                                                src="<%= base_url %>uploads/projects/<%= exclusive_project.project_photo %>"
                                                                alt="" style="height: 300px; width:100%"> <span
                                                                class="images-count"> <%= exclusive_project.city_name %>
                                                        </span>
                                                    </a>

                                                </div>

                                                <div class="col-md-7">

                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="property-info">

                                                                <h3>

                                                                    <a href="#"><%= exclusive_project.project_name %> by
                                                                        <%= exclusive_project.group_name %></a>

                                                                </h3>

                                                                <br/>

                                                                <ul class="">

                                                                    <li><span class="location">
                                                                            <%= exclusive_project.locality_name %>,
                                                                            <?=$city?></span>
                                                                    </li>
                                                                    <hr>

                                                                    <li><span>Project Sub Type :
                                                                            <%= exclusive_project.project_sub_type_name %></span><br/>
                                                                    </li>
                                                                    <hr>

                                                                    <li><span>Plans : <%= exclusive_project.plans %>
                                                                            BHK</span><br/></li>
                                                                    <hr>

                                                                    <li><span>Price : <span class="WebRupee">Rs.</span>
                                                                            <%= exclusive_project.price %>
                                                                            Onwards</span></li>
                                                                    <hr>

                                                                    <li><span>Status :
                                                                            <%= exclusive_project.status %></span></li>
                                                                    <hr>

                                                                    <li>&nbsp;</li>


                                                                </ul>


                                                                <a href="<%= base_url %>home/project_details/<%= exclusive_project.project_id %>"
                                                                   class="pull-right">
                                                                    <button type="button" class="btn btn-danger">View
                                                                        Details &raquo;
                                                                    </button>
                                                                </a>
                                                                <a href="#"
                                                                   onclick="showAjaxModal('<%= exclusive_project.project_id %>')">
                                                                    <button type="button" class="btn">
                                                                        <i class="fa fa-phone"></i> Call Back
                                                                    </button>
                                                                </a>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </li>

                                            <% } %>

                                        </ul>

                                    <% }else { %>
                                        <br><br>
                                        <h4 align='center'>There are No Projects Available....</h4>
                                    <% } %>

                                </div>


                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Start Site Footer -->


        <div class="modal fade" id="modal_ajax">

            <div class="modal-dialog">

                <div class="modal-content">

                    <form method="post">

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;
                            </button>

                            <h4 class="modal-title">Call Back</h4>

                        </div>


                        <div class="modal-body">

                            <div id="call_back_response">

                                <div id="errorBox3"></div>


                                <div class="row">

                                    <div class="col-md-6 col-sm-6">

                                        <label>NAME*</label>

                                        <input type="text" id="call_name" name="call_name" class="form-control"
                                               placeholder="Name" required="required">

                                    </div>

                                    <div class="col-md-6 col-sm-6">

                                        <label>PHONE NUMBER*</label>

                                        <input type="text" id="call_phone" name="call_phone" class="form-control"
                                               placeholder="Phone Number" required="required">

                                    </div>

                                    <input type="hidden" id="call_project_id" name="call_project_id" value="">

                                </div>

                            </div>


                        </div>


                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="button" onclick="send_Project_Callback();" class="btn btn-primary">Send
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>


<% include includes/footer.ejs %>