<!DOCTYPE HTML>

<html class="no-js">

<head>
    <% include includes/includes.ejs %>

</head>

<body>

    <div class="body">

        <% include includes/header.ejs %>

        <div class="site-showcase">

            <div class="parallax page-header" style="background-image: url(images/page-header1.jpg);">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1><%= page_title %></h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>
        <!-- Start Content -->

        <div class="main hot-properties" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="row">

                                <div class="col-md-12">

                                    <div class="row">

                                        <div class="col-md-3" style="float: right;">

                                            <form action="<%= base_url %>home/hot_properties" method="POST">

                                                <select name="city" id="hot_property_cities" class="form-control input-lg" onchange="this.form.submit()">
                                                    <script>
                                                        setUpCities("#hot_property_cities", "<%=city_id %>");
                                                    </script>
                                                </select>

                                            </form>

                                        </div>

                                    </div>

                                    <div class="property-listing">
                                        <% if(hot_properties.length > 0) { %>
                                        <ul>
                                            <% for(var i=0;i < hot_properties.length;i++) { 
                                                var hot_property = hot_properties[i];
                                                %>
                                            <li class="property col-md-12">

                                                <div class="col-md-5 image-container">
                                                    <a href="<%= base_url %>home/property_details/<%=hot_property.list_property_id %>" class="property-featured-image">
                                                        <div class="overlay" style="line-height: 151px"></div>
                                                        <img src="<%= base_url %>uploads/list_property/<%=hot_property.property_photo %>" class="image" alt="">
                                                        <span class="images-count"> <%= hot_property.city %> </span>
                                                    </a>
                                                </div>

                                                <div class="col-md-7">

                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="property-info">

                                                                <div class="property-amenities clearfix">

                                                                    <% if(hot_property.property_sub_type == '14') { %>

                                                                    <span class="area">Sq.Yds<br><strong><%=hot_property.saleable_area %></strong></span>

                                                                    <span class="area">Facing<br><strong><%=hot_property.facing %></strong></span>
                                                                    <span class="baths">Open Sides<br><strong><%=hot_property.open_slides %></strong></span>

                                                                    <% }else if(hot_property.property_type == '1') { %>

                                                                    <span class="area">Sq.Ft<br><strong><%=hot_property.saleable_area %></strong></span>

                                                                    <span class="area">Facing<br><strong><%=hot_property.facing %></strong></span>
                                                                    <span class="baths">Parking<br><strong><%=hot_property.car_parking %></strong></span>

                                                                    <%}else { %>

                                                                    <span class="area">Sq.Ft<br><strong><%=hot_property.saleable_area %></strong></span>
                                                                    <span class="area">Bedrooms<br><strong><%=hot_property.bedrooms %></strong></span>
                                                                    <span class="area">For<br><strong>Sale</strong></span>
                                                                    <% } %>
                                                                    <span class="parking">
                                                                        Price<br>
                                                                        <strong><span class="WebRupee">Rs.</span>
                                                                            <%=hot_property.quoted_price %></strong>
                                                                    </span>

                                                                </div><br>



                                                                <ul class="">

                                                                    <li><span>Property Type :
                                                                            <%=hot_property.property_name %></span></li>
                                                                    <hr>
                                                                    <li><span>Property Sub Type :
                                                                            <%=hot_property.property_sub_type_name %></span>
                                                                    </li>
                                                                    <hr>
                                                                    <li><span class="location">Location :
                                                                            <%=hot_property.locality %>,
                                                                            <%=hot_property.city %></span></li>
                                                                    <hr>
                                                                    <li><span>Posted By :
                                                                            <%=hot_property.posted_by %></span>
                                                                    </li>
                                                                    <hr>

                                                                </ul>
                                                                <div class="price">
                                                                    <a href="<%= base_url %>home/property_details/<%=hot_property.list_property_id %>">
                                                                        <button class="btn btn-danger" type="button">
                                                                            <i class="fa fa-angle-double-right"></i>&nbsp;
                                                                            View Details
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <% } %>
                                        </ul>

                                        <% }else { %>
                                        <br><br>
                                        <h4 align='center'>There are No Results Available....</h4>
                                        <% } %>

                                    </div>



                                </div>



                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!-- Start Site Footer -->
            <% include includes/footer.ejs %>