<!DOCTYPE HTML>

<html class="no-js">

<head>
    <!--    <link rel="stylesheet" type="text/css" href="<%= base_url %>stylesheets/index.css">-->
    <script>

        function ShowButton(str) {


            if (str == 'BUY') {

                document.getElementById("action_type").innerHTML = "<button type='submit' name='search_type' value='BUY' formaction='<%= base_url %>home/properties' class='btn btn-primary btn-block btn-lg'><i class='fa fa-search'></i> Search</button>";

            }

            if (str == 'RENT') {

                document.getElementById("action_type").innerHTML = "<button type='submit' name='search_type' value='RENT' formaction='<%= base_url %>home/rent' class='btn btn-primary btn-block btn-lg'><i class='fa fa-search'></i> Search</button>";

            }

        }

        function showAjaxModal1(propertyId) {
            var modalBody = '<div id="errorBox3"></div>' +
                '<div class="row">' +
                '<div class="col-md-6 col-sm-6">' +
                '<label>NAME*</label>' +
                '<input type="text" id="call_name" name="call_name" class="form-control" placeholder="Name" required="required">' +
                '</div>' +
                '<div class="col-md-6 col-sm-6">' +
                '<label>PHONE NUMBER*</label>' +
                '<input type="text" id="call_phone" name="call_phone" class="form-control" placeholder="Phone Number" required="required">' +
                '</div>' +
                '<input type="hidden" id="call_project" name="call_project"/>' +
                '</div>'
            $("#call_back_response").html(modalBody);
            $("#call_project").val(propertyId);
            jQuery('#modal_ajax1').modal('show', { backdrop: 'true' });

        }


        function send_Callback() {
            console.log($("#call_project").val());
            var filter = /^[0-9-+]+$/;

            var name = $("#call_name").val();

            var phone = $("#call_phone").val();

            var project_id = $("#call_project").val();

            var dataString = 'name=' + name + '&phone=' + phone + '&project_id=' + project_id;


            if ($("#call_name").val() == "") {

                $("#call_name").focus();

                $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Name</strong></div>");

            } else if ($("#call_phone").val() == "") {

                $("#call_phone").focus();

                $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

            } else if (phone.length != "10") {

                $("#call_phone").focus();

                $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

            } else if (!filter.test(phone)) {

                $("#call_phone").focus();

                $("#errorBox3").html("<div class='alert alert-error fade in'> <a href='#' data-dismiss='alert' class='close'>x</a> <strong>Please Enter Valid 10 Digit Phone Number</strong></div>");

            } else {


                $.ajax({

                    type: "GET",

                    url: "<%= base_url %>home/add_call_back",

                    data: {//dataString
                        name: name,
                        phone: phone,
                        project_id: project_id
                    },

                    success: function (response) {

                        jQuery('#call_back_response').html(response);

                    }

                });


            }

        }

    </script>
</head>

<body class="home">

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase" id="success">

            <div class="slider-mask overlay-transparent"></div>

            <!-- Start Hero Slider -->

            <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">

                <ul class="slides" id="slides">
                    <% for(var i=0;i< home_slider.length;i++) {
                    var homeSliderRow = home_slider[i]%>
                    <li class="parallax" style="background-image:url('<%=base_url%>uploads/home-slide/<%=homeSliderRow.image%>');display:list-item">
                        <a href="<%=homeSliderRow.url %>" class="btn" style="width: 100%; height: 100%;"> </a>
                    </li>
                    <% } %>
                </ul>

            </div>

            <!-- End Hero Slider -->

            <!-- Site Search Module -->

            <div class="site-search-module">
                <div class="container">
                    <div class="site-search-module-inside  col-md-10 col-md-offset-1 searchbar-container">

                        <ul class="nav nav-tabs no-border">

                            <li class="active"><i class="fa fa-caret-down fa-4x"></i>
                                <a data-toggle="tab" href="#sampletab2"> Projects</a>
                            </li>

                            <li><i class="fa fa-caret-down fa-4x "></i>
                                <a data-toggle="tab" href="#sampletab1"> Properties </a>
                            </li>

                        </ul>


                        <div class="tab-content" style="margin-top: -10px; background:rgba(0,0,0,0.5);">

                            <div id="sampletab2" class="tab-pane active">

                                <br>

                                <form action="<%= base_url %>home/projects" method="get">

                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 searchbar_field">
                                                <select class="form-control" name="city" id="project_city">
                                                    <script> setUpCities("#project_city"); </script>
                                                </select>
                                            </div>
                                            <div class="col-md-7 searchbar_field">
                                                <input class="form-control" placeholder="Enter a locality, builder, project or RERA ID" id="project_search_field" name="search_field" type="text">
                                            </div>
                                            <div class="col-md-1 searchbar_field">
                                                <button class="form-control submit-button">Submit</button>
                                            </div>

                                        </div>

                                    </div>

                                </form>
                            </div>

                            <div id="sampletab1" class="tab-pane">

                                <br>

                                <form method="get" action="<%= base_url %>home/properties %>">

                                    <div class="form-group form-group-lg">

                                        <div class="row">

                                            <div class="col-md-2 col-md-offset-1 searchbar_field">
                                                <select class="form-control" name="city" id="property_city">
                                                    <option>City</option>
                                                    <script> setUpCities("#property_city"); </script>
                                                </select>
                                            </div>
                                            <div class="col-md-7 searchbar_field">
                                                <input class="form-control" placeholder="Enter a locality, builder, project or RERA ID" id="property_search_field" name="search_field" type="text">
                                            </div>
                                            <div class="col-md-1 searchbar_field">
                                                <button class="form-control submit-button">Submit</button>
                                            </div>

                                        </div>

                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="block-heading">

                                <h4>
                                    <span class="heading-icon">
                                        <i class="fa fa-leaf"></i>
                                    </span>Featured Projects
                                </h4>
                            </div>

                            <div class="property-listing">

                                <ul>

                                    <% 
                                    var count = 12;
                                    if(latest_projects.length < count) {
                                        count = lastest_projects.length;
                                    }
                                    for(var i = 0;i < count; i++)  {
                                    var latest_project = latest_projects[i]; %>
                                    <li class="type-rent col-md-12">
                                        <div class="col-md-5 image-container">
                                            <a href="<%= base_url %>home/project_details/<%= latest_project.project_id %> %>" class="property-featured-image">
                                                <img src="<%= base_url %>uploads/projects/<%= latest_project.project_photo %>" class="image" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="property-info">
                                                        <h3>
                                                            <a href="<%= base_url %>home/project_details/<%= latest_project.project_id %> %>">
                                                                <%= latest_project.project_name %>
                                                            </a>
                                                        </h3>
                                                        <hr>
                                                        <span><%= latest_project.group_name %></span>
                                                        <hr>

                                                        <span class="location"> <%= latest_project.locality %>,
                                                            <%= latest_project.city %></span>
                                                        <hr>

                                                        <span>Sizes ( Range) :
                                                            <%= latest_project.min_builtup_area %> -
                                                            <%= latest_project.max_builtup_area %> Sq.Ft
                                                        </span>
                                                        <hr>

                                                        <span>Plans : <%= latest_project.plans %></span>
                                                        <hr>

                                                        <span>
                                                            <% if(latest_project.min_price != ""){ %>
                                                            <% if(latest_project.min_price !== "Price On Request") { %>
                                                            <span class="WebRupee">Rs.</span>
                                                            <%} %>
                                                            <%= latest_project.min_price %>
                                                            <% if(latest_project.min_price !== "Price On Request") { %>
                                                            Onwards
                                                            <%} %>
                                                            <% }else { %>
                                                            <%= latest_project.min_price %>
                                                            <% } %>
                                                        </span>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="col-md-4 pad-2 brbtm">
                                                    <ul class="">
                                                        <li>
                                                            <a onclick="add_Compare('project',<%= latest_project.project_id %>,this)">
                                                                <button type="button" class="btn btn-default"><i class="fa fa-th-list"></i>&nbsp;&nbsp; Compare
                                                                    &nbsp;&nbsp;
                                                                </button>
                                                            </a><br /><br />
                                                        </li>

                                                        <li>
                                                            <a href="<%= base_url %>home/project_details/<%= latest_project.project_id %> %>">
                                                                <button type="button" class="btn btn-danger"><i class="fa  fa-angle-double-right"></i> View
                                                                    Details
                                                                </button>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="property-amenities clearfix">
                                                <span class="area"><strong><%= latest_project.total_area %></strong>&nbsp;</span>

                                                <span class="baths"><strong><%= latest_project.total_units %></strong>Units</span>

                                                <span class="parking"><strong>&nbsp;Type :
                                                    </strong><%= latest_project.project_sub_type %></span>
                                            </div>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    </div>

    <!-- Start Site Footer -->


    <!-- (Ajax Modal)-->

    <div class="modal fade" id="modal_ajax1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Call Back</h4>
                    </div>
                    <div class="modal-body">
                        <div id="call_back_response">
                            <div id="errorBox3"></div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label>NAME*</label>
                                    <input type="text" id="call_name" name="call_name" class="form-control" placeholder="Name" required="required">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>PHONE NUMBER*</label>
                                    <input type="text" id="call_phone" name="call_phone" class="form-control" placeholder="Phone Number" required="required">
                                </div>
                                <input type="hidden" id="call_project" name="call_project" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" onclick="send_Property_Callback();" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include includes/footer.ejs %>
    <script type="text/javascript">
        function ticker() {
            $('#ticker li:first').slideUp(function () {
                $(this).appendTo($('#ticker')).slideDown();
            });
        }

        setInterval(ticker, 3000);
    </script>