<!DOCTYPE HTML>

<html class="no-js">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title> Spaces4All - <%=page_name %> </title>

  <meta name="description" content="">

  <meta name="keywords" content="">

  <meta name="author" content="">

  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <link href="<%=base_url %>stylesheets/bootstrap.css" rel="stylesheet" type="text/css">

  <link href="<%=base_url %>stylesheets/style.css" rel="stylesheet" type="text/css">

  <link href="<%=base_url %>plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">

  <link href="<%=base_url %>plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">

  <link href="<%=base_url %>plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">

  <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

  <link class="alt" href="<%=base_url %>stylesheets/color.css" rel="stylesheet" type="text/css">

  <script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>

  <script src="<%=base_url %>javascripts/modernizr.js"></script>

  <script>

    function show_sub_type(str) {
      switch (str) {
        case "":
          $('#bedrooms').attr("disabled", false);
          $('#bathrooms').attr("disabled", false);
          $('#construction_age').attr("disabled", false);
          $('#floor_no').attr("disabled", false);
          $('#floors').attr("disabled", false);
          $('#car_parking').attr("disabled", false);
          $('#furnishing').attr("disabled", false);
          break;
        case "1":
          $('#bedrooms').attr("disabled", true);
          $('#bathrooms').attr("disabled", true);
          $('#construction_age').attr("disabled", false);
          $('#floor_no').attr("disabled", false);
          $('#floors').attr("disabled", false);
          $('#car_parking').attr("disabled", false);
          $('#furnishing').attr("disabled", false);
          break;
        case "4":
          $('#bedrooms').attr("disabled", false);
          $('#bathrooms').attr("disabled", false);
          break;
      }

      if (str.length == 0) {
        document.getElementById("property_sub_type").innerHTML = "";
        return;
      }
      $.ajax({
        type: 'GET',
        url: '<%= api_url %>get_property_sub_types',
        data: {
          property_type: str
        },
        success: function (response) {
          var result = '<option value="">---SELECT---</option>';
          for (var i = 0; i < response.length; i++) {
            result += '<option value="' + response[i].property_sub_type_id + '">' + response[i].sub_type + '</option>';
          }
          $("#property_sub_type").find('option').remove().end();
          $("#property_sub_type").append(result);
        }

      });
    }





    function Show_locality(str) {

      //alert(str);

      if (str.length == 0) {

        document.getElementById("Showlocality").innerHTML = "";

        return;

      }



      if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari

        xmlhttp = new XMLHttpRequest();

      }

      else {// code for IE6, IE5

        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

      }

      xmlhttp.onreadystatechange = function () {

        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

          //alert(xmlhttp.responseText);

          document.getElementById("Showlocality").innerHTML = xmlhttp.responseText;

        }

      }

      xmlhttp.open("GET", "<?php echo base_url();?>ajax/get_locality/" + str, true);

      xmlhttp.send();

    }



    function Show_locality1(str) {

      //alert(str);

      if (str.length == 0) {

        document.getElementById("Showlocality1").innerHTML = "";

        return;

      }



      if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari

        xmlhttp = new XMLHttpRequest();

      }

      else {// code for IE6, IE5

        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

      }

      xmlhttp.onreadystatechange = function () {

        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

          //alert(xmlhttp.responseText);

          document.getElementById("Showlocality1").innerHTML = xmlhttp.responseText;

        }

      }

      xmlhttp.open("GET", "<?php echo base_url();?>ajax/get_locality/" + str, true);

      xmlhttp.send();

    }



    function hide_bedrooms(str) {

      var value = document.getElementById("property_type").value;

      //alert(str);

      if (str == '14') {

        //alert(str);

        $('#normalfields').hide();

        $('#residentialfields').show();

        //$('#normalfields').attr("disabled", true);

        //$('#residentialfields').attr("disabled", false);

        //$('#bathrooms').attr("disabled", true);

        /* $('#construction_age').attr("disabled", true);
      
        $('#floor_no').attr("disabled", true);
      
        $('#floors').attr("disabled", true);
      
        $('#car_parking').attr("disabled", true);
      
        $('#furnishing').attr("disabled", true); */

      } else if (str == '') {

        $('#normalfields').show();

        $('#residentialfields').hide();

        if (value == '1') {

          $('#bedrooms').attr("disabled", true);

          $('#bathrooms').attr("disabled", true);



        } else {

          $('#bedrooms').attr("disabled", false);

          $('#bathrooms').attr("disabled", false);

        }

        $('#construction_age').attr("disabled", false);

        $('#floor_no').attr("disabled", false);

        $('#floors').attr("disabled", false);

        $('#car_parking').attr("disabled", false);

        $('#furnishing').attr("disabled", false);

      } else {

        $('#normalfields').show();

        $('#residentialfields').hide();

        if (value == '1') {

          $('#bedrooms').attr("disabled", true);

          $('#bathrooms').attr("disabled", true);

        } else {

          $('#bedrooms').attr("disabled", false);

          $('#bathrooms').attr("disabled", false);

        }

        $('#construction_age').attr("disabled", false);

        $('#floor_no').attr("disabled", false);

        $('#floors').attr("disabled", false);

        $('#car_parking').attr("disabled", false);

        $('#furnishing').attr("disabled", false);

      }

    }



    $(document).ready(function () {

      $("body").prepend('<div id="overlay" class="ui-widget-overlay" style="z-index: 1001; display: none;"></div>');

      $("body").prepend("<div id='PleaseWait' style='display: none;'><img src='<%=base_url %>assets/images/loading.gif'/></div>");

    });



    $('#list_propery').submit(function () {

      var pass = true;

      //some validations



      if (pass == false) {

        return false;

      }

      $("#overlay, #PleaseWait").show();



      return true;

    });



  </script>

</head>

<body class="home">

  <div class="body">

    <!-- Start Site Header -->





    <%  include includes/header.ejs %>





    <!-- End Site Header -->

    <!-- Site Showcase -->

    <div class="site-showcase">

      <!-- Start Page Header -->

      <div class="parallax page-header" style="background-image:url(assets/images/page-header1.jpg);">

        <div class="container">

          <div class="row">

            <div class="col-md-12">

              <h1>Submit a Property</h1>

            </div>

          </div>

        </div>

      </div>

      <!-- End Page Header -->

    </div>

    <!-- Start Content -->

    <div class="main" role="main">

      <div id="content" class="content full">

        <div class="container">

          <div class="page">

            <div class="row">

              <div class="col-md-12">

                <form action="<%=base_url %>home/add_list_property" method="POST" id="list_propery" enctype="multipart/form-data">


                  <!-- 
                            <?php 

                             if ($this->session->flashdata('message')) {

                             ?>

                             <div class="alert alert-success fade in"> <a href="#" data-dismiss="alert" class="close">x</a> <strong><?=$this->session->flashdata('message')?></strong></div>

                             <?php 

                             }

                             ?>

                             <?php 

                             if ($this->session->flashdata('message1')) {

                             ?>

                             <div class="alert alert-error fade in"> <a href="#" data-dismiss="alert" class="close">x</a> <strong><?=$this->session->flashdata('message1')?></strong></div>

                             <?php 

                             }

                             ?> -->



                  <div class="block-heading" id="details">

                    <h4><span class="heading-icon"><i class="fa fa-user"></i></span>About You</h4>

                  </div>

                  <div class="padding-as25 margin-30 lgray-bg">

                    <div class="row">

                      <div class="col-md-4 col-sm-4">

                        <label>NAME*</label>

                        <input type="text" name="name" class="form-control" value="" placeholder="Name"
                          required="required">

                        <!-- <?php if ($this->session->flashdata('name')) {?><b style="color: red"><?=$this->session->flashdata('name')?></b><?php }?> -->

                      </div>

                      <div class="col-md-4 col-sm-4">

                        <label>EMAIL ID*</label>

                        <input type="email" name="email" class="form-control" value="" placeholder="Email Id"
                          required="required">

                        <!-- <?php if ($this->session->flashdata('email')) {?><b style="color: red"><?=$this->session->flashdata('email')?></b><?php }?> -->

                      </div>

                      <div class="col-md-4 col-sm-4">

                        <label>MOBILE*</label>

                        <input type="text" name="phone" class="form-control" value="" placeholder="Mobile"
                          required="required">

                        <!-- <?php if ($this->session->flashdata('phone')) {?><b style="color: red"><?=$this->session->flashdata('phone')?></b><?php }?> -->

                      </div>

                    </div>



                  </div>

                  <div class="block-heading" id="amenities">

                    <h4><span class="heading-icon"><i class="fa fa-home"></i></span>Your Property Details</h4>

                  </div>

                  <div class="padding-as25 margin-30 lgray-bg">

                    <div class="row">

                      <div class="col-md-4 col-sm-4">

                        <label>PROPERTY NAME*:</label>

                        <input type="text" name="property_name" id="property_name" class="form-control" value=""
                          placeholder="Property Name" required="required">

                        <!-- <?php if ($this->session->flashdata('property_name')) {?><b style="color: red"><?=$this->session->flashdata('property_name')?></b><?php }?> -->

                      </div>

                      <div class="col-md-4 col-sm-4">

                        <label>PROPERTY TYPE*:</label>

                        <select name="property_type" id="property_type" onchange="show_sub_type(this.value)"
                          class="form-control margin-0" required="required">

                          <option value="">---SELECT---</option>

                          <script> setUpPropertyTypes('#property_type');</script>

                        </select>

                        <!-- <?php if ($this->session->flashdata('property_type')) {?><b style="color: red"><?=$this->session->flashdata('property_type')?></b><?php }?> -->

                      </div>

                      <div class="col-md-4 col-sm-4">

                        <label>PROPERTY SUB TYPE*:</label>

                        <select name="property_sub_type" id="property_sub_type" onchange="hide_bedrooms(this.value)"
                          class="form-control margin-0" required="required">

                          <!-- <option value="<?=$row1['property_sub_type_id']?>"><?=$row1['sub_type']?></option> -->
                          <option value="">---SELECT---</option>


                        </select>

                        <!-- <?php if ($this->session->flashdata('property_sub_type')) {?><b style="color: red"><?=$this->session->flashdata('property_sub_type')?></b><?php }?> -->

                      </div>



                    </div>

                    <div id="normalfields">

                      <div class="row">

                        <div class="col-md-4 col-sm-4">

                          <label>FACING*:</label>

                          <input type="text" name="facing" id="facing" class="form-control" value=""
                            placeholder="Facing">

                          <!-- <?php if ($this->session->flashdata('facing')) {?><b style="color: red"><?=$this->session->flashdata('facing')?></b><?php }?> -->

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>BEDROOMS:</label>

                          <select name="bedrooms" id="bedrooms" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>
                            <% for(var i = 0;i <= 8;i++) { %>
                            <option value="<%=i %>"><%=i %></option>
                            <% } %>

                          </select>

                          <!-- <?php if ($this->session->flashdata('bedrooms')) {?><b style="color: red"><?=$this->session->flashdata('bedrooms')?></b><?php }?> -->

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>BATHROOMS:</label>

                          <select name="bathrooms" id="bathrooms" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <% for(var i = 0;i <= 8;i++) { %>
                            <option value="<%=i %>"><%=i %></option>
                            <% } %>

                          </select>

                          <!-- <?php if ($this->session->flashdata('bathrooms')) {?><b style="color: red"><?=$this->session->flashdata('bathrooms')?></b><?php }?> -->

                        </div>



                      </div>

                      <div class="row">

                        <div class="col-md-4 col-sm-4">

                          <label>STATE:</label>

                          <select name="state" id="state" class="form-control margin-0">


                            <script> setUpStates('#state'); </script>


                            <!--  <?php if ($this->session->flashdata('state_value')){if($this->session->flashdata('state_value') == $row['state_id']){echo 'selected';}}?> -->

                          </select>

                        </div>


                        <div class="col-md-4 col-sm-4">

                          <label>CITY*:</label>

                          <select name="city" id="city" onchange="showLocality(this.value,'#locality')"
                            class="form-control margin-0 ">
                          <script>setUpCities('#city'); </script>
                            <!--  <?php if ($this->session->flashdata('city_value')){if($this->session->flashdata('city_value') == $row1['city_id']){echo 'selected';}}?> -->
                          </select>

                          <!-- <?php if ($this->session->flashdata('city')) {?><b style="color: red"><?=$this->session->flashdata('city')?></b><?php }?> -->

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>LOCALITY*:</label>

                          <select name="locality" id="locality" class="form-control margin-0">

                            <option value="">---SELECT---</option>

                          </select>

                          <!-- <?php if ($this->session->flashdata('locality')) {?><b style="color: red"><?=$this->session->flashdata('locality')?></b><?php }?> -->

                        </div>

                      </div><br>

                      <div class="row">



                        <div class="col-md-4 col-sm-4">

                          <label>SALEABLE AREA:</label>

                          <input type="text" name="saleable_area" id="saleable_area" class="form-control" value=""
                            placeholder="Saleable Area(Sq.ft / Sq.yds)">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>QUOTED PRICE:</label>

                          <input type="text" name="quoted_price" id="quoted_price" class="form-control" value=""
                            placeholder="Quoted Price">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>AGE OF CONSTRUCTION:</label>

                          <input type="text" name="construction_age" id="construction_age" class="form-control" value=""
                            placeholder="Age of Construction">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>FLOOR NO:</label>

                          <input type="text" name="floor_no" id="floor_no" class="form-control" value=""
                            placeholder="Floor No">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>NO OF FLOORS:</label>

                          <input type="text" name="floors" id="floors" class="form-control" value=""
                            placeholder="No of Floors">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>CAR PARKING:</label>

                          <select name="car_parking" id="car_parking" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <% for(var i = 0;i <= 10;i++) { %>
                              <option value="<%=i %>"><%=i %></option>
                              <% } %>
                           
                            <!--  <?php if ($this->session->flashdata('car_parking_value')){if($this->session->flashdata('car_parking_value') == $j){echo 'selected';}}?> -->

                          </select>

                        </div>

                      </div>

                      <div class="row">

                        <div class="col-md-12 col-sm-4">

                          <label>PROPERTY DESCRIPTION:</label>

                          <textarea name="description" id="description" class="form-control"></textarea>
                          <!-- <?php if ($this->session->flashdata('desc_value')){echo $this->session->flashdata('desc_value');}?> -->

                        </div>

                      </div>

                      <div class="row">

                        <div class="col-md-4 col-sm-4">

                          <label>UPLOAD PHOTOS:</label>

                          <input type="file" name="photos[]" class="" multiple="multiple">

                        </div>



                        <div class="col-md-4 col-sm-4">

                          <label>FURNISHING STATUS:</label>

                          <select name="furnishing" id="furnishing" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <option value="Unfurnished">Unfurnished</option>
                            <!--  <?php if ($this->session->flashdata('furnishing_value')){if($this->session->flashdata('furnishing_value') == 'Unfurnished'){echo 'selected';}}?> -->

                            <option value="Semifurnished">Semifurnished</option>
                            <!--  <?php if ($this->session->flashdata('furnishing_value')){if($this->session->flashdata('furnishing_value') == 'Semifurnished'){echo 'selected';}}?> -->

                            <option value="Fullyfurnished">Fullyfurnished</option>
                            <!--  <?php if ($this->session->flashdata('furnishing_value')){if($this->session->flashdata('furnishing_value') == 'Fullyfurnished'){echo 'selected';}}?> -->

                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>POSTED BY:</label>

                          <select name="posted_by" id="posted_by" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <option value="Owner">Owner</option>
                            <!--  <?php if ($this->session->flashdata('posted_value')){if($this->session->flashdata('posted_value') == 'Owner'){echo 'selected';}}?> -->

                            <option value="Agent">Agent</option>
                            <!--  <?php if ($this->session->flashdata('posted_value')){if($this->session->flashdata('posted_value') == 'Agent'){echo 'selected';}}?> -->

                            <option value="Builder">Builder</option>
                            <!--  <?php if ($this->session->flashdata('posted_value')){if($this->session->flashdata('posted_value') == 'Builder'){echo 'selected';}}?> -->

                          </select>

                          <!-- <?php if ($this->session->flashdata('posted_by')) {?><b style="color: red"><?=$this->session->flashdata('posted_by')?></b><?php }?> -->

                        </div>

                      </div>



                    </div>



                    <div id="residentialfields" style="display: none;">



                      <div class="row">

                        <div class="col-md-4 col-sm-4">

                          <label>FACING*:</label>

                          <input type="text" name="facing1" id="facing1" class="form-control" placeholder="Facing">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>CITY*:</label>

                          <select name="city1" id="city1" onchange="showLocality(this.value,'#locality1')"
                            class="form-control margin-0 ">

                            <script>setUpCities('#city1');</script>
                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>LOCALITY*:</label>

                          <select name="locality1" id="locality1" class="form-control margin-0">

                            <option value="">---SELECT---</option>

                          </select>

                        </div>



                      </div>

                      <div class="row">



                        <div class="col-md-4 col-sm-4">

                          <label>STATE:</label>

                          <select name="state1" id="state1" class="form-control margin-0">
                            <script>setUpStates('#state1');</script>
                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>PLOT AREA(SQYDS):</label>

                          <input type="text" name="plot_area" id="plot_area" class="form-control"
                            placeholder="Plot Area(Sq.yds)">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>QUOTED PRICE:</label>

                          <input type="text" name="quoted_price1" id="quoted_price1" class="form-control" value=""
                            placeholder="Quoted Price">

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>FLOORS ALLOWED FOR CONSTRUCTION:</label>

                          <select name="floors1" id="floors1" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <% for(var i = 0;i <= 20;i++) { %>
                              <option value="<%=i %>"><%=i %></option>
                              <% } %>

                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>NO OF OPEN SIDES:</label>

                          <select name="open_slides" id="open_slides" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <% for(var i = 0;i <= 10;i++) { %>
                              <option value="<%=i %>"><%=i %></option>
                              <% } %>

                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>WIDTH OF ROAD(FT):</label>

                          <input type="text" name="width" id="width" class="form-control"
                            placeholder="Width Of Road Facing The Plot">

                        </div>

                      </div>



                      <div class="row">

                        <div class="col-md-4 col-sm-4">

                          <label>ANY CONSTRUCTION DONE:</label>

                          <select name="construction_done" id="construction_done" class="form-control margin-0 ">

                            <option value="NO">NO</option>

                            <option value="YES">YES</option>

                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>BOUNDARY WALL MADE:</label>

                          <select name="boundary_wall" id="boundary_wall" class="form-control margin-0 ">

                            <option value="NO">NO</option>

                            <option value="YES">YES</option>

                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>IS IN A GATED COLONY:</label>

                          <select name="gated_colony" id="gated_colony" class="form-control margin-0 ">

                            <option value="NO">NO</option>

                            <option value="YES">YES</option>

                          </select>

                        </div>

                      </div><br>



                      <div class="row">



                        <div class="col-md-4 col-sm-4">

                          <label>POSTED BY:</label>

                          <select name="posted_by1" id="posted_by1" class="form-control margin-0 ">

                            <option value="">---SELECT---</option>

                            <option value="Owner">Owner</option>

                            <option value="Agent">Agent</option>

                            <option value="Builder">Builder</option>

                          </select>

                        </div>

                        <div class="col-md-4 col-sm-4">

                          <label>UPLOAD PHOTOS:</label>

                          <input type="file" name="photos1[]" class="" multiple="multiple">

                        </div>

                      </div><br>

                      <label>DIMENTIONS(IN FEETS):</label> <br>

                      <div class="row">

                        <div class="col-md-3 col-sm-3">

                          <label>EAST:</label>

                          <input type="text" name="east" id="east" class="form-control">

                        </div>

                        <div class="col-md-3 col-sm-3">

                          <label>WEST:</label>

                          <input type="text" name="west" id="west" class="form-control">

                        </div>

                        <div class="col-md-3 col-sm-3">

                          <label>NORTH:</label>

                          <input type="text" name="north" id="north" class="form-control">

                        </div>

                        <div class="col-md-3 col-sm-3">

                          <label>SOUTH:</label>

                          <input type="text" name="south" id="south" class="form-control">

                        </div>

                      </div>

                      <div class="row">

                        <div class="col-md-12 col-sm-4">

                          <label>PROPERTY DESCRIPTION:</label>

                          <textarea name="description1" id="description1" class="form-control"></textarea>
                          <!-- <?php if ($this->session->flashdata('desc_value')){echo $this->session->flashdata('desc_value');}?> -->

                        </div>

                      </div>
                    </div>

                    <div class="row">

                      <div class="col-md-12">

                        <label>Amenities :</label>

                        <div class="checkbox" id="amenity_options">

                          <script> setUpEminities('#amenity_options');</script>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-align-center" id="submit-property">

                    <button type="submit" name="add_list_property" value="add_list_property"
                      class="btn btn-primary btn-lg">Submit</button>

                  </div>

                </form>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <!-- Start Site Footer -->



    <%  include includes/footer.ejs %>







</body>

</html>