<!DOCTYPE HTML>

<html class="no-js">

<head>
    <% include ./includes/includes.ejs %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> Spaces4All - <%= page_title %> </title>

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="<%= base_url %>css/bootstrap.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>css/style.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->

    <link class="alt" href="<%= base_url %>css/color.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>

    <script src="<%= base_url %>js/modernizr.js"></script>


    <style type="text/css">
        div#map {

            position: relative;

        }


        div#crosshair {

            position: absolute;

            top: 192px;

            height: 19px;

            width: 19px;

            left: 50%;

            margin-left: -8px;

            display: block;

            background: url(crosshair.gif);

            background-position: center center;

            background-repeat: no-repeat;

        }


        .ovrview-head {

            font-weight: bold;

        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("form#project_enquiry_form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: "POST",
                    url: "<%= api_url %>project_enquiry/<%= project_id %>",
                    data: formData,
                    success: function (result) {
                        alert(result.message);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        })
    </script>
</head>

<body class="home" onload="initialize();">

    <div id="fb-root"></div>

    <script>(function (d, s, id) {

                var js, fjs = d.getElementsByTagName(s)[0];

                if (d.getElementById(id)) return;

                js = d.createElement(s);
                js.id = id;

                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";

                fjs.parentNode.insertBefore(js, fjs);

            }(document, 'script', 'facebook-jssdk'));</script>

    <div class="body">

        <div class="main" role="main">

            <% if(project) {
            var mainImage = "no-photo.jpg";
            var reraRegistered = true; %>
            <% if (project.photos.length > 0) {
            mainImage = project.photos[0].photo; } %>
            <% if(!project.rera_id) { 
            reraRegistered = false;
            }%>

            <div class="project-details-page">
                <% // to added powered by add powered-by to css%>
                <div class="container-fluid project-header">
                    <div class="row">
                        <div class="hidden-xs col-sm-2 col-md-2 builder-name"><%= project.project_name %></div>
                        <div class="col-xs-12 col-sm-7 col-md-7 project-header-details">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 description">
                                    <% if(project.project_type_name == "Residential") { %>
                                    <%= project.plans %> BHK
                                    <% } else { 
                                        if(project.project_sub_type_name == "Plots") { %>
                                    Plot
                                    <% }else { %>
                                    Commercial Project
                                    <% } }%>

                                    at <%= project.locality_name %>,<%= project.city_name %>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 specifications">
                                    Area:
                                    <span><%= project.min_builtup_area %> - <%= project.max_builtup_area %> Sq.
                                        Ft.</span>
                                    |
                                    Starting Price: <span><%= project.min_price_formatted %></span> |
                                    Possession: <span><%= getYear(project.possesion_date) %></span>

                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-3 col-md-2 quick-links">
                            <a href="<%= base_url %>">Home</a> &nbsp;&nbsp; <span>|</span> &nbsp;&nbsp; <a href="#enquiry_form"> Contact Us</a>
                        </div>
                    </div>
                    <div class="row image-container">
                        <div class="col-xs-12 col-sm-12 col-md-12 image">
                            <img src="<%= base_url %>uploads/projects/<%= mainImage %>" alt="Project Image" />
                        </div>
                    </div>
                </div>
                <div class="container project-details">
                    <div class="row overview">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h1 class="sub-heading">OVERVIEW</h1>
                            <div class="row rera">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <ul>
                                        <li>RERA STATUS -
                                            <% if(reraRegistered) { %>
                                            REGISTERED
                                            <%}else { %>
                                            NOT APPLICABLE
                                            <% } %>
                                        </li>
                                        <% if(reraRegistered) { %>
                                        <li>Registration No: &nbsp;<%=project.rera_id %></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <%- project.description %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if([13,17].indexOf(project.project_sub_type) < 0) {%>
                    <div class="row floor-plan">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h1 class="sub-heading">FLOOR PLANS</h1>
                            <table class="table table-hovered floor-plan-table">
                                <thead>
                                    <tr>
                                        <th>BHK</th>
                                        <th>Built Up Area</th>
                                        <th>Price</th>
                                        <th>Floor Plan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0;i < project.plans_configuration.length;i++) {
                                var planConfiguration = project.plans_configuration[i]; %>
                                    <tr>
                                        <td>
                                            <%= planConfiguration.plan %> BHK
                                        </td>
                                        <td><%= planConfiguration.size %> Sqft</td>
                                        <td>Rs. <%= planConfiguration.price %></td>
                                        <td><%- planConfiguration.facing.join(' <span style="font-size: 20px;top: 3px;position: relative;">|</span> ') %>
                                        </td>
                                    </tr>

                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>
                    <% if(project.project_sub_type == 17) { %>
                    <h1 class="sub-heading">PLOT SIZES</h1>

                    <div class="row floor-plan">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <table class="table table-hovered floor-plan-table">
                                <thead>
                                    <tr>
                                        <th>Area</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0;i < project.plans_configuration.length;i++) {
                                    var planConfiguration = project.plans_configuration[i]; %>
                                    <tr>
                                        <td><%= planConfiguration.size %> Sq yards</td>
                                    </tr>

                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% } %>
                    <div class="row amenities">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h1 class="sub-heading">AMENITIES</h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <ul class="mt5px">
                                        <% if(project.amenities_list.length) { %>
                                        <% for(var i = 0;i < project.amenities_list.length; i++) {
                                            var amenity_data = project.amenities_list[i];
                                        %>
                                        <li class="p10px">
                                            <i class="<%= amenity_data.amenity_icon %> amenity-icon"></i>
                                            <span class="amenity-name"> <%= amenity_data.amenity %> </span>
                                        </li>
                                        <% } %>
                                        <% } else { %>
                                        <h3> No amenities available</h3>
                                        <% } %>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row specifications">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h1 class="sub-heading">SPECIFICATIONS</h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <%- project.specifications %>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row gallery">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h1 class="sub-heading">GALLERY</h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <ul class="mt5px">
                                        <% if(project.photos.length) { %>
                                        <% for(var i = 1;i < project.photos.length; i++) {
                                            var photo_data = project.photos[i];
                                        %>
                                        <li class="p10px">
                                            <img src="<%= base_url %>uploads/projects/<%= photo_data.photo %>" alt="Photo Not Available" onclick="showPhotoModal('photo-modal','<%= base_url %>uploads/projects/<%= photo_data.photo %>')">
                                            <span>CLICK TO VIEW</span>
                                        </li>
                                        <% } %>
                                        <% } else { %>
                                        <h3> No amenities available</h3>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" id="enquiry_form">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h1 class="sub-heading">ENQUIRY FORM</h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div id="enquiry_response"></div>
                                    <form id="project_enquiry_form">
                                        <div class="col-md-7 margin-15">

                                            <div class="form-group">
                                                <input type="text" id="name" name="name" class="form-control input-sm" placeholder="Name*" required="required">
                                            </div>

                                            <div class="form-group">
                                                <input type="email" id="email" name="email" class="form-control input-sm" placeholder="Email*" required="required">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" id="phone" name="phone" class="form-control input-sm" placeholder="Phone*" required="required">
                                            </div>
                                            <div class="form-group">
                                                <textarea cols="6" rows="3" id="comments" name="comments" required="required" class="form-control input-lg" placeholder="Comments"></textarea>
                                                <button type="submit" class="btn btn-primary"> Submit </button>

                                            </div>

                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>

        </div>


        <!-- (Ajax Modal)-->

        <div class="modal fade" id="modal_ajax">

            <div class="modal-dialog">

                <div class="modal-content">

                    <form method="post">

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <h4 class="modal-title">Tell to Friend</h4>

                        </div>


                        <div class="modal-body">


                        </div>


                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="button" onclick="tell_to_friend();" class="btn btn-primary">Send</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>


        <div class="modal fade" id="modal_ajax1">

            <div class="modal-dialog">

                <div class="modal-content">

                    <form method="post">

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <h4 class="modal-title">Schedule Site Visit</h4>

                            <p class="modal-title">Please fill the form to confirm your site visit.</p>

                        </div>


                        <div class="modal-body">


                        </div>


                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="button" onclick="shedule_site_visit();" class="btn btn-primary">Send</button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <!-- Start Site Footer -->

        <div id="myModal" class="modal fade" role="dialog">

            <div class="modal-dialog">


                <!-- Modal content-->

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <h4 class="modal-title">Add State</h4>

                    </div>

                    <form action="<%= base_url %>admin/add_state" method="post">

                        <div class="modal-body">

                            <div class="box-body">

                                <div class="form-group">

                                    <label for="state">State</label> <input class="form-control" id="state" name="state" placeholder="Enter State Name" type="text" required="required">

                                </div>

                            </div>

                            <!-- /.box-body -->


                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-primary">Add</button>

                        </div>

                    </form>

                </div>


            </div>

        </div>


        <div id="photo-modal" class="modal modal-lg fade photo-modal" role="dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img src="" />
                </div>
            </div>

        </div>
    </div>

    <!--<script type="text/javascript">-->
    <!--    $('#lctn').click(function () {-->
    <!--        initialize();-->
    <!--    });-->
    <!--</script>-->

    <% include includes/footer.ejs %>