<!DOCTYPE HTML>

<html class="no-js">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> Spaces4All - <%= page_title %> </title>

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta name="author" content="">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="<%= base_url %>css/bootstrap.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>css/style.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <link href="<%= base_url %>plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->

    <link class="alt" href="<%= base_url %>css/color.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>

    <script src="<%= base_url %>js/modernizr.js"></script>

    <script>

        function List_form() {

            document.List_form.submit();

        }


        function Grid_form() {

            document.Grid_form.submit();

        }

        function Show_Div(Div_id) {

            if (false == $(Div_id).is(':visible')) {

                $(Div_id).show(250);

            } else {

                $(Div_id).hide(250);

            }

        }

        function updatePageNo(pageNo) {
            var page = parseInt(getValue('page'));

            var toPage = pageNo;
            if (pageNo == 'previous') {
                if (page > 1) {
                    toPage = page - 1;
                } else {
                    toPage = page;
                }
            } else if (pageNo == 'next') {
                if (page < parseInt('<%= total_pages %>')) {
                    toPage = page + 1;
                } else {
                    toPage = page;
                }
            }
            setUpValue('page', toPage);
            List_form();
        }

        function updateValues(project_id) {
            var modalBody = '<div id="errorBox3"></div>' +
                '<div class="row">' +
                '<div class="col-md-6 col-sm-6">' +
                '<label>NAME*</label>' +
                '<input type="text" id="call_name" name="call_name" class="form-control" placeholder="Name" required="required">' +
                '</div>' +
                '<div class="col-md-6 col-sm-6">' +
                '<label>PHONE NUMBER*</label>' +
                '<input type="text" id="call_phone" name="call_phone" class="form-control" placeholder="Phone Number" required="required">' +
                '</div>' +
                '<input type="hidden" id="call_project_id" name="call_project_id" value="">' +
                '</div>';
            $('#call_back_response').html(modalBody);
            $('#call_project_id').val(project_id);
            $('#modal_ajax').modal('show', {backdrop: 'true'});
        }

    </script>

</head>

<body>

<div class="body">

    <!-- Start Site Header -->

    <% include includes/header.ejs %>

    <!-- End Site Header -->

    <!-- Site Showcase -->

    <div class="site-showcase">

        <!-- Start Page Header -->

        <div class="parallax page-header" style="background-image:url(images/page-header1.jpg);">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <h1>Projects</h1>

                    </div>

                </div>

            </div>

        </div>

        <!-- End Page Header -->

    </div>

    <div>

        <form action="<%= base_url %>home/projects" name="Grid_form" id="Grid_form" method="get">

            <input type="hidden" name="project_type" value="<%= project_type %>">

            <input type="hidden" name="project_sub_type" value="<%= project_sub_type %>">

            <input type="hidden" name="city" value="<%= city %>">

            <input type="hidden" name="locality" value="<%= locality %>">

            <input type="hidden" name="min_price" value="<%= min_price %>">

            <input type="hidden" name="max_price" value="<%= max_price %>">

            <input type="hidden" name="bedrooms" value="<%= bedrooms %>">

            <input type="hidden" name="possession" value="<%= possession %>">

            <input type="hidden" name="search_field" value="<%= search_field %>">

            <input type="hidden" name="page" value="<%= page %>">

        </form>

    </div>


    <!-- Start Content -->

    <div class="main" role="main">

        <div id="content" class="content full">

            <div class="container">

                <div class="page">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="block-heading">

                                <h4><span class="heading-icon"><i class="fa fa-caret-right icon-design"></i><i
                                                class="fa fa-th-list"></i></span>Projects List View</h4>

                                <div class="toggle-view pull-right">

                                    <a href="javascript: Grid_form()" title="Grid View"><i
                                                class="fa fa-th-large"></i></a>

                                    <a href="javascript: List_form()" class="active" title="List View"><i
                                                class="fa fa-th-list"></i></a>
                                </div>

                            </div>


                            <div class="search-list" id="success">

                                <form action="<%= base_url %>home/projects/list_view" name="List_form" method="get">

                                    <div class="row" style="padding-bottom: 10px">

                                        <input type="hidden" name="page" value="<%= page %>">

                                        <div class="col-md-4">

                                            <select name="project_type" id="project_type"
                                                    onchange="getProjectSubTypes(this.value,'#project_sub_type')"
                                                    class="form-control margin-0">

                                                <option value="0">Project Type</option>

                                            </select>

                                        </div>


                                        <div class="col-md-4">

                                            <select name="project_sub_type" id="project_sub_type"
                                                    class="form-control margin-0">

                                                <option value="">Project Sub Type</option>
                                            </select>

                                        </div>


                                        <div class="col-md-2">

                                            <select name="city" id="city"
                                                    onchange="showLocality(this.value,'#Showlocality')"
                                                    class="form-control margin-0">

                                                <option value="">City</option>
                                            </select>

                                        </div>

                                        <div class="col-md-2">

                                            <select name="locality" id="Showlocality" class="form-control margin-0">

                                                <option value="">---locality---</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="row" id="Div_1" style="padding-bottom: 10px">

                                        <div class="col-md-2">

                                            <select name="bedrooms" id="bedrooms" class="form-control margin-0 ">

                                                <option value="">Bed Rooms</option>
                                                <% for (var i = 1; i <= 5 ; i++) { %>
                                                    <option value="<%= i %>"><%= i %></option>
                                                <% } %>

                                            </select>

                                        </div>

                                        <div class="col-md-2">

                                            <select name="possession" class="form-control margin-0 ">

                                                <option value="">Possession</option>

                                                <% for(var i = 2015;i <= 2025;i++) { %>
                                                    <option value="<%= i %>"><%= i %></option>
                                                <% } %>
                                            </select>

                                        </div>

                                        <div class="col-md-2">

                                            <select id="min_price" name="min_price" class="form-control margin-0 "
                                                    onchange="Show_max_price(this.value)">

                                                <option value="">Min Price</option>
                                                <% for (var i = 500000; i <= 30000000; i += 1000000) {
                                                    var price, value = i;
                                                    if (value >= 10000000) {
                                                        price = parseFloat(value) / 10000000;
                                                        price = price + " Crore";
                                                    } else if (value >= 100000) {
                                                        price = parseFloat(value) / 100000;
                                                        price = price + " Lac";
                                                    }
                                                %>
                                                <option value="<%= value %>"> <%= price %></option>

                                                <% } %>

                                            </select>

                                        </div>


                                        <div class="col-md-2">

                                            <select name="max_price" class="form-control margin-0 " id="max_price">

                                                <option value="">Max Price</option>
                                                <% for (var i = 1000000; i <= 50000000; i += 1000000) {
                                                    var price, value = i;
                                                    if (value >= 10000000) {
                                                        price = parseFloat(value) / 10000000;
                                                        price = price + " Crore";
                                                    } else if (value >= 100000) {
                                                        price = parseFloat(value) / 100000;
                                                        price = price + " Lac";
                                                    }
                                                %>
                                                <option value="<%= value %>"> <%= price %></option>

                                                <% } %>
                                            </select>

                                        </div>

                                        <div class="col-md-2">

                                            <input type="text" name="search_field" placeholder="Enter a locality, builder, project or RERA ID" class="form-control margin-0"/>

                                        </div>


                                        <div class="col-md-2">

                                            <button type="submit" class="btn btn-lg btn-primary btn-block"><i
                                                        class="fa fa-search"></i> Search
                                            </button>

                                        </div>


                                    </div>

                                </form>

                                </form>

                                <div class="block-heading">

                                    <h4>&nbsp;</h4>

                                    <div class="toggle-view pull-right">

                                    </div>

                                </div>

                            </div>

                        </div>
                        <br>

                        <div class="row">

                            <div class="col-md-12">

                                <div id="property_success"></div>

                                <div class="property-listing">

                                    <% if (projects.length > 0) { %>

                                        <ul>
                                            <% for(var i = 0;i < projects.length;i++) {
                                                var project = projects[i]; %>
                                            <li class="type-rent col-md-12">

                                                <div class="col-md-4">

                                                    <a href="<%= base_url %>home/project_details/<%= project.project_id %>"
                                                       class="property-featured-image">

                                                        <img src="<%= base_url %>uploads/projects/<%= project.image %>"
                                                             style="height: 180px; width:100%" alt="">

                                                        <span class="images-count"> <%= project.city %> </span>

                                                    </a>

                                                </div>

                                                <div class="col-md-8">


                                                    <div class="row">

                                                        <div class="col-md-8">

                                                            <div class="property-info" style="line-height: 5px">

                                                                <h3>
                                                                    <a href="<%= base_url %>home/project_details/<%= project.project_id %>"><%= project.project_name %></a>
                                                                </h3>

                                                                <hr>

                                                                <span><%= project.group_name %></span>
                                                                <hr>

                                                                <span class="location">
                                                                    <%= project.locality_name %> , <%= project.city_name %></span>
                                                                <hr>

                                                                <span>Sizes ( Range) : <%= project.min_builtup_area %> - <%= project.max_builtup_area %>
                                                                    Sq.Ft</span>
                                                                <hr>

                                                                <span>Plans : <%= project.plans %> BHK</span>
                                                                <hr>

                                                                <span>
                                                                    <% if(project.min_price){ %>
                                                                        <span class="WebRupee">Rs.</span>
                                                                        <%= project.min_price %> Onwards
                                                                    <% }else { %>
                                                                        Price On Request
                                                                    <% } %>
                                                                </span>
                                                                <hr>

                                                            </div>


                                                        </div>
                                                        <br/>


                                                        <div class="col-md-4 pad-2 brbtm">

                                                            <ul class="">

                                                                <li>
                                                                    <a onclick="add_Compare('project','<%= project.project_id %>',this)">
                                                                        <button type="button" class="btn btn-default">
                                                                            <i class="fa fa-th-list"></i>&nbsp;
                                                                            Compare&nbsp;&nbsp;&nbsp;
                                                                        </button>
                                                                    </a>
                                                                    <br/><br/>
                                                                </li>

                                                                <li><a href="#"
                                                                       onclick="updateValues('<%= project.project_id %>')">
                                                                        <button type="button" class="btn"><i
                                                                                    class="fa fa-phone"></i>&nbsp;
                                                                            &nbsp;Call
                                                                            Back &nbsp;&nbsp;&nbsp;
                                                                        </button>
                                                                    </a> <br/><br/></li>

                                                                <li>
                                                                    <a href="<%= base_url %>home/project_details/<%= project.project_id %>">
                                                                        <button type="button" class="btn btn-danger">
                                                                            <i class="fa  fa-angle-double-right"></i>
                                                                            View Details
                                                                        </button>
                                                                    </a></li>

                                                            </ul>

                                                        </div>

                                                    </div>

                                                    <div class="property-amenities clearfix">

                                                        <span class="area"><strong><%= project.total_area %></strong>&nbsp;</span>

                                                        <span class="baths"><strong><%= project.total_units %></strong>Units</span>

                                                        <span class="parking"><strong>&nbsp; Type : </strong><%= project.project_sub_type_name %></span>

                                                    </div>

                                                </div>

                                            </li>

                                            <% } %>

                                        </ul>

                                    <% }else { %>
                                        <br><br><h4 align='center'>There are No Results Available....</h4>
                                    <% } %>

                                </div>

                                <ul class="pagination pull-right">
                                    <li id="previous_button" onclick="updatePageNo('previous')"><a>Previous</a></li>
                                    <% for(var i = 1;i <= total_pages && i <= 3 ;i++) { %>
                                        <li onclick="updatePageNo('<%= i %>')"><a
                                            <% if(i == page) { %> class="active"
                                                    <% } %>
                                            ><%= i %></a></li>
                                    <% } %>
                                    <li id="next_button" onclick="updatePageNo('next')"><a>Next</a></li>

                                </ul>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="modal fade" id="modal_ajax">

            <div class="modal-dialog">

                <div class="modal-content">

                    <form method="post">

                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <h4 class="modal-title">Call Back</h4>

                        </div>


                        <div class="modal-body">

                            <div id="call_back_response">

                                <div id="errorBox3"></div>


                                <div class="row">

                                    <div class="col-md-6 col-sm-6">

                                        <label>NAME*</label>

                                        <input type="text" id="call_name" name="call_name" class="form-control"
                                               placeholder="Name" required="required">

                                    </div>

                                    <div class="col-md-6 col-sm-6">

                                        <label>PHONE NUMBER*</label>

                                        <input type="text" id="call_phone" name="call_phone" class="form-control"
                                               placeholder="Phone Number" required="required">

                                    </div>

                                    <input type="hidden" id="call_project_id" name="call_project_id" value="">

                                </div>

                            </div>
                        </div>


                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                            <button type="button" onclick="send_Project_Callback();" class="btn btn-primary">Send
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>
        <script>
            setUpProjectTypes('#project_type', '<%= project_type %>');
            getProjectSubTypes("<%= project_type %>", "#project_sub_type", "<%= project_sub_type %>");
            setUpCities("#city", '<%= city %>');
            showLocality('<%= city %>', "#Showlocality",<%= locality %>)
            selectOption("bedrooms", "<%= bedrooms %>");
            selectOption("min_price", "<%= min_price %>");
            selectOption("max_price", "<%= max_price %>");
            selectOption("possession", "<%= possession %>");
            setUpValue('search_field', "<%= search_field %>");
        </script>
        <!-- Start Site Footer -->

        <% include includes/footer.ejs %>

