<!DOCTYPE HTML>

<html class="no-js">

<head>
    <% include includes/includes.ejs %>
    <% include ../includes/ejs_functions.ejs %>
    <style>
        div.show-image {
            position: relative;
            float: left;
            margin: 5px;
        }

        div.show-image:hover img {
            opacity: 0.5;
        }

        div.show-image:hover .delete {
            display: block;
        }

        div.show-image .delete {
            position: absolute;
            display: none;
        }

        div.show-image .delete {
            top: 1%;
            left: 85%;
        }
    </style>

</head>

<body>

<div class="body">

    <!-- Start Site Header -->

    <% include includes/header.ejs %>

    <!-- End Site Header -->

    <!-- Site Showcase -->

    <div class="site-showcase">

        <!-- Start Page Header -->

        <div class="parallax page-header">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <h1> <?=$page_title?> </h1>

                    </div>

                </div>

            </div>

        </div>

        <!-- End Page Header -->

    </div>

    <!-- Start Content -->

    <div class="main" role="main">

        <div id="content" class="content full" style="min-height: 400px">

            <div class="container">

                <div class="page">

                    <div class="row">

                        <div class="col-md-12">

                            <div>
                                <% if(count > 0) { %>

                                <table class="table table-bordered table-striped dataTable no-footer"
                                       id="example1" role="grid" aria-describedby="example1_info">
                                    <tbody>
                                    <tr role="row" class="odd">
                                        <td>Picture</td>
                                        <%- getRowDetails(data, 'photo',"list_property") %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">Property Type</span></td>
                                        <%- getRowDetails(data, 'property_type_name') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Property Sub Type</span></td>
                                        <%- getRowDetails(data, 'property_sub_type_name') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">City</span></td>
                                        <%- getRowDetails(data, 'city_name') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Locality</span></td>
                                        <%- getRowDetails(data, 'locality_name') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">State</span></td>
                                        <%- getRowDetails(data, 'state_name') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Bedrooms</span></td>
                                        <%- getRowDetails(data, 'bedrooms') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">Bathrooms</span></td>
                                        <%- getRowDetails(data, 'bathrooms') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Quoted Price</span></td>
                                        <%- getRowDetails(data, 'quoted_price') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">Saleable Area</span></td>
                                        <%- getRowDetails(data, 'saleable_area') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Construction Age</span></td>
                                        <%- getRowDetails(data, 'construction_age') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">Floor No</span></td>
                                        <%- getRowDetails(data, 'floor_no') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Floors</span></td>
                                        <%- getRowDetails(data, 'floors') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">Possession  Date</span></td>
                                        <%- getRowDetails(data, 'possession') %>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td><span class="bldtx1">Amenities</span></td>
                                        <%- getRowDetails(data, 'amenities_list_string') %>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td><span class="bldtx1">Posted By</span></td>
                                        <%- getRowDetails(data, 'posted_by') %>
                                    </tr>
                                    </tbody>

                                </table>

                                <% }else { %>
                                    <%- "<h3 align='center'>There Are No Properties In Compare List</h3>" %>

                                <% } %>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Start Site Footer -->

    <% include includes/footer.ejs %>


</body>

</html>