<!DOCTYPE HTML>

<html class="no-js">

<head>
    <% include includes/includes.ejs %>
</head>

<body class="home">
<% include includes/header.ejs %>
<% if(has_details) { %>
    <div class="bgf7f7f7">
        <div class="property_overview_container">

            <div class="property_overview container">

                <div class="fl">
                    <img src="<%= base_url %>uploads/list_property/<%= property_details.photo %>"
                         class="display_image"/>
                </div>

                <div class="fr property_overview_details">
                    <div class="row mt20px mb20px pb20px">
                        <div class="col-md-12 lh17em mb2px">
                            <h1 class="xxxlarge sc pt20px wfc"><%= property_details.bedrooms %>
                                BHK <%= property_details.property_sub_type_name %>
                                in <%= property_details.locality_name %></h1>
                        </div>
                        <div class="col-md-12 wfc"><%= property_details.locality_name %>
                            , <%= property_details.city_name %></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="fl dib wfc">
                                <b class="webrupee" style="font-size: 28px"> </b>
                                <span class="fw600" style="font-size: 28px"><%= property_details.quoted_price %></span>
                            </div>
                            <div class="fr wfc">
                                <a class="btn btn-primary btn-md mr5px w120">Contact <%= property_details.posted_by %></a>
<!--                                <a onclick="add_Compare('property','<%=property_id %>',this)" class="btn btn-white btn-md w120">Compare</a>-->
                            </div>
                        </div>
                    </div>
                    <br/>
                    <ul class="row mb20px pt15px property_specifications fl-child w20-li border-li">
                        <% if(!(property_details.property_sub_type == "14" || property_details.property_sub_type == "18")) { %>
                            <li class="text-align-center"><p class="silverfc">Bedrooms</p>
                                <p class="fw600 xxlarge mt5px wfc"><%= property_details.bedrooms %> BHK</p></li>
                            <li class="text-align-center"><p class="silverfc">Bathrooms</p>
                                <p class="fw600 xxlarge mt5px wfc"><%= property_details.bathrooms %></p></li>
                        <% } %>
                        <li class="text-align-center"><p class="silverfc">BuiltUp Area</p>
                            <p class="fw600 xxlarge mt5px wfc"><%= property_details.saleable_area %>
                                <% if(property_details.property_sub_type == "14") { %>
                                    Sq. Yds
                                <% } else if(property_details.property_type == "1") { %>
                                    Sq. Fts
                                <% } %>
                            </p></li>
                        <li class="text-align-center"><p class="silverfc">Ownership</p>
                            <p class="fw600 xxlarge mt5px wfc"><%= property_details.posted_by %></p></li>
                        <li class="text-align-center"><p class="silverfc">For</p>
                            <p class="fw600 xxlarge mt5px wfc">Sale</p></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="pb15px pt7px"></div>
        <div class="container containerlayout disclaimer">
            <h2 class="fw600 ml5px">Disclaimer</h2>
            <p>All the information displayed is as posted by the User and displayed on the website for informational
                purposes only. Spaces4all makes no representations and warranties of any kind, whether expressed
                or implied, for the Services and in relation to the accuracy or quality of any information transmitted
                or
                obtained at spaces4all.com. You are hereby strongly advised to verify all information including
                visiting the relevant RERA website before taking any decision based on the contents displayed on
                the website.
            </p>
        </div>
        <div class="container">
            <div class="col-md-8 col-8 nopadding  property_details">
                <div class="row  containerlayout">
                    <div>
                        <h2 class="fw600 ml5px">About Property</h2>
                    </div>
                    <div class="mb10px property_details_description">
                        There Is No Description Available.
                    </div>
                    <ul class="mt20px property_details_list">
                        <li>
                            <div class="dib list_label">Property Type</div>
                            <div class="dib list_content"><%= property_details.property_type_name %></div>
                        </li>
                        <li>
                            <div class="dib list_label">Property Sub Type</div>
                            <div class="dib list_content"><%= property_details.property_sub_type_name %></div>
                        </li>
                        <li>
                            <div class="dib list_label"> Location</div>
                            <div class="dib list_content"> <%= property_details.locality_name %></div>
                        </li>
                        <li>
                            <div class="dib list_label"> City</div>
                            <div class="dib list_content"> <%= property_details.city_name %></div>
                        </li>
                        <% if(property_details.property_sub_type == "14" || property_details.property_sub_type == "18") { %>

                            <li>
                                <div class="dib list_label"> Facing</div>
                                <div class="dib list_content"><%= property_details.facing %></div>
                            </li>
                            <li>
                                <div class="dib list_label"> Floors allowed for construction</div>
                                <div class="dib list_content"><%= property_details.floors %></div>
                            </li>

                            <li>
                                <div class="dib list_label">No Of Open Sides</div>
                                <div class="dib list_content"><%= property_details.open_slides %></div>
                            </li>

                            <li>
                                <div class="dib list_label"> Any Construction Done</div>
                                <div class="dib list_content"><%= property_details.construction_done %></div>
                            </li>
                            <li>
                                <div class="dib list_label"> Boundary Wall Made</div>
                                <div class="dib list_content"><%= property_details.boundary_wall %>
                                </div>
                            </li>
                            <li>
                                <div class="dib list_label">Is In a Gated Colony</div>
                                <div class="dib list_content"><%= property_details.gated_colony %></div>
                            </li>
                            <li>
                                <div class="dib list_label"> Dimentions(Ft)</div>
                                <div class="dib list_content">
                                    East : <%= property_details.east %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    West : <%= property_details.west %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    North : <%= property_details.north %>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    South : <%= property_details.south %>

                                </div>
                            </li>
                            <li>
                                <div class="dib list_label"> Width Of Road(Ft)</div>
                                <div class="dib list_content"><%= property_details.width %></div>
                            </li>

                        <% } else { %>
                            <% if(property_details.property_type != "1") { %>
                                <li>
                                    <div class="dib list_label">Price</div>
                                    <div class="dib list_content"> <%= property_details.quoted_price %></div>
                                </li>
                            <% } %>
                            <li>
                                <div class="dib list_label">Age of Construction</div>
                                <div class="dib list_content"> <%= property_details.construction_age %> year(s)</div>
                            </li>
                            <li>
                                <div class="dib list_label">Furnishing Status</div>
                                <div class="dib list_content"> <%= property_details.furnishing_status %></div>
                            </li>
                            <li>
                                <div class="dib list_label">Floor No</div>
                                <div class="dib list_content"> <%= property_details.floor_no %> Floor</div>
                            </li>
                            <li>
                                <div class="dib list_label">No of Floors</div>
                                <div class="dib list_content"> <%= property_details.floors %> Floors</div>
                            </li>
                            <li>
                                <div class="dib list_label">Facing</div>
                                <div class="dib list_content"> <%= property_details.facing %></div>
                            </li>
                            <li>
                                <div class="dib list_label">Posted By</div>
                                <div class="dib list_content"> <%= property_details.posted_by %></div>
                            </li>
                        <% } %>
                    </ul>
                </div>
                <div class="row containerlayout pb20pxi">
                    <div>
                        <h2 class="fw600 ml5px">Amenities</h2>
                    </div>
                    <div>
                        <ul class="mt5px property_details_amenities">
                            <% if(property_details.amenities_list.length) { %>
                                <% for(var i = 0;i < property_details.amenities_list.length; i++) {
                                    var amenity_data = property_details.amenities_list[i];
                                %>
                                <li class="p10px">
                                    <i class="<%= amenity_data.amenity_icon %> amenity-icon"></i>
                                    <span class="amenity-name"> <%= amenity_data.amenity %> </span>
                                </li>
                                <% } %>
                            <% } else { %>
                                <h3> No amenities available</h3>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-4 nopadding">
                <div class="row containerlayout enquiryform">
                    <h5>Enquiry Form</h5><br>

                    <div id="enquiry_response"></div>
                    <form>

                        <div class="col-md-12 margin-15">

                            <div class="form-group">

                                <input type="text" id="name2" name="name" class="form-control input-sm" placeholder="Name*" required="required">

                            </div>

                            <div class="form-group">

                                <input type="email" id="email2" name="email" class="form-control input-sm" placeholder="Email*" required="required">

                            </div>

                            <div class="form-group">

                                <input type="text" id="phone2" name="phone" class="form-control input-sm" placeholder="Phone*" required="required">

                            </div>



                            <div class="form-group">

                                <textarea cols="6" rows="3" id="comments2" name="comments" class="form-control input-lg" placeholder="Comments" required="required"></textarea>

                                <button type="button" onclick="send_enquiry(<%= property_id %>);" class="btn btn-primary">Submit Now !</button>

                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="container">
        <h3 style="text-align: center;">Property Not Found</h3>
    </div>
<% } %>
<% include includes/footer.ejs %>
</body>
</html>