<!DOCTYPE HTML>

<html class="no-js">

<head>
    <% include includes/includes.ejs %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> Spaces4All - <%=page_title %> </title>

    <script>

        function Grid_form() {

            document.Grid_form.submit();

        }

        function show_sub_type(str) {

            if (str == '1') {

                $('#bedrooms').attr("disabled", true);

            } else {

                $('#bedrooms').attr("disabled", false);

            }

            if (str.length == 0) {

                document.getElementById("property_sub_type").innerHTML = "";

                return;

            }
            getPropertySubTypes(str, "#property_sub_type");
        }
        function Show_Div(Div_id) {

            if (false == $(Div_id).is(':visible')) {

                $(Div_id).show(250);

            }

            else {

                $(Div_id).hide(250);

            }

        }

        function hide_bedrooms(str) {

            var value = document.getElementById("property_type").value;

            if (str == '14') {

                $('#bedrooms').attr("disabled", true);

            } else {

                if (value == '1') {

                    $('#bedrooms').attr("disabled", true);

                } else {

                    $('#bedrooms').attr("disabled", false);

                }

            }

        }

    </script>

</head>

<body>

    <div class="body">

        <!-- Start Site Header -->

        <% include includes/header.ejs %>

        <!-- End Site Header -->

        <!-- Site Showcase -->

        <div class="site-showcase">

            <!-- Start Page Header -->

            <div class="parallax page-header" style="background-image:url(images/page-header1.jpg);">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1>Rent Properties</h1>

                        </div>

                    </div>

                </div>

            </div>

            <!-- End Page Header -->

        </div>

        <div>

            <% var postedBy = "";
                if(posted_by != "") {
                postedBy = posted_by;        
            }%>

            <form action="<%=base_url %>home/rent" name="Grid_form" id="Grid_form" method="get">

                <input type="hidden" name="property_type" value="<%=property_type%>">

                <input type="hidden" name="property_sub_type" value="<%=property_sub_type %>">

                <input type="hidden" name="city" value="<%=city%>">

                <input type="hidden" name="locality" value="<%locality %>">

                <input type="hidden" name="bedrooms" value="<%=bedrooms%>">

                <input type="hidden" name="posted_by" value="<%=posted_by %>">

                <input type="hidden" name="min_price" value="<%=min_price %>">

                <input type="hidden" name="max_price" value="<%=max_price %>">

            </form>

        </div>

        <!-- Start Content -->

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="block-heading">

                                    <h4><span class="heading-icon"><i class="fa fa-caret-right icon-design"></i><i class="fa fa-th-list"></i></span>Property List View</h4>

                                    <div class="toggle-view pull-right">

                                        <a href="javascript: Grid_form()" title="Grid View"><i class="fa fa-th-large"></i></a>

                                        <a href="javascript: List_form()" class="active" title="List View"><i class="fa fa-th-list"></i></a>

                                    </div>

                                </div>



                                <div class="search-list">

                                    <form action="<%=base_url %>home/rent_list_view" name="List_form" method="get">

                                        <div class="row" style="padding-bottom: 10px">

                                            <div class="col-md-3">

                                                <select name="property_type" id="property_type" onchange="show_sub_type(this.value)" class="form-control margin-0">

                                                </select>

                                            </div>



                                            <div class="col-md-3">

                                                <select name="property_sub_type" id="property_sub_type" onchange="hide_bedrooms(this.value)" class="form-control margin-0">

                                                    <option value="">Property Sub Type</option>

                                                </select>

                                            </div>



                                            <div class="col-md-3">

                                                <select name="city" id="city" onchange="showLocality(this.value,'#locality')" class="form-control margin-0">

                                                </select>

                                            </div>



                                            <div class="col-md-2">

                                                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Search</button>

                                            </div>



                                            <div class="col-md-1">

                                                <button type="button" onclick="Show_Div(Div_1)" class="btn btn-primary btn-block">Filters</button>

                                            </div>

                                        </div>



                                        <div class="row" id="Div_1" style="padding-bottom: 10px;display: none;">

                                            <div class="col-md-2">

                                                <select name="locality" id="locality" class="form-control margin-0">

                                                    <option value="">---locality---</option>
                                                </select>

                                            </div>

                                            <div class="col-md-2">

                                                <select id="min_price" name="min_price" class="form-control margin-0 " onchange="Show_max_price(this.value)">

                                                    <option value="">Min Price</option>
                                                    <% for(var i = 0;i <= 100000; i = i + 5000) { 
                                                               var value;
                                                                if( i == 0) {
                                                                    value = 1000;
                                                                } else {
                                                                    value = i;
                                                                }
                                                                if(value == 100000) {
                                                                    value = parseFloat(value)/100000;
                                                                    value = value + " Lac";
                                                                }                                                                
                                                                %>
                                                    <option value="<%=value%>">Rs <%=value %> </option>

                                                    <% } %>
                                                </select>

                                            </div>



                                            <div class="col-md-2">

                                                <select name="max_price" id="max_price" class="form-control margin-0 ">

                                                    <option value="">Min Price</option>
                                                    <% for(var i = 0;i <= 100000; i = i + 5000) { 
                                                               var value;
                                                                if( i == 0) {
                                                                    value = 1000;
                                                                } else {
                                                                    value = i;
                                                                }
                                                                if(value == 100000) {
                                                                    value = parseFloat(value)/100000;
                                                                    value = value + " Lac";
                                                                }                                                                
                                                                %>
                                                    <option value="<%=value%>">Rs <%=value %> </option>

                                                    <% } %>

                                                </select>

                                            </div>



                                            <div class="col-md-2">

                                                <select name="bedrooms" id="bedrooms" class="form-control margin-0 ">

                                                    <option value="">Bed Rooms</option>
                                                    <% for (var i = 1; i <= 5 ; i++) { %>
                                                    <option value="<%= i %>"><%= i %></option>
                                                    <% } %>
                                                </select>

                                            </div>

                                        </div>

                                    </form>

                                    <div class="block-heading">

                                        <h4>&nbsp;</h4>

                                        <div class="toggle-view pull-right">

                                        </div>

                                    </div>

                                </div>

                            </div><br><br><br><br><br><br>

                            <div class="row">

                                <div class="col-md-12">

                                    <div id="property_success"></div>

                                    <div class="property-listing">

                                        <% if(rent.length) {%>

                                        <ul>
                                            <% for(var i=0;i< rent.length;i++) { 
                                                var rentDetails = rent[i]; %>
                                            <li class="type-rent col-md-12">

                                                <div class="col-md-4">

                                                    <a href="<%=base_url %>home/rent_details/<%=rentDetails.rent_id %>" class="property-featured-image">
                                                        <div class="overlay" style="line-height:151px"><i class="fa fa-search"></i></div>

                                                        <img src="<%=base_url %>uploads/rent/<%= rentDetails.image %>" style="height: 180px; width:100%" alt="Spacel4all">

                                                        <span class="images-count"> <%= rentDetails.city_name %> </span>

                                                    </a>

                                                </div>

                                                <div class="col-md-8">

                                                    <div class="row">

                                                        <div class="col-md-8">

                                                            <div class="property-info" style="line-height: 5px">

                                                                <h3><a href="<%=base_url %>home/rent_details/<%=rentDetails.rent_id %>"> <%=rentDetails.property_sub_type_name %></a></h3>

                                                                <hr><span><%=rentDetails.property_name %></span>
                                                                <hr>

                                                                <span class="location"> <%=rentDetails.locality_name %>, <%=rentDetails.city_name %></span>
                                                                <hr>

                                                                <span>
                                                                    <% if(rentDetails.price) { %>
                                                                    <span class="WebRupee">Rs.</span>
                                                                    <% } %>
                                                                    <%=rentDetails.price %>
                                                                </span>
                                                                <hr>

                                                            </div>

                                                        </div>

                                                        <div class="col-md-4 pad-2 brbtm">

                                                            <ul class="">
                                                                <br />
                                                                <li>
                                                                    <a onclick="add_Compare('rent','<%= rentDetails.rent_id %>',this)">
                                                                        <button type="button" class="btn btn-default">
                                                                            <i class="fa fa-th-list"></i>&nbsp;
                                                                            Compare&nbsp;&nbsp;&nbsp;
                                                                        </button>
                                                                    </a>
                                                                    <br /><br />
                                                                </li>
                                                                <li> <a href="<%=base_url %>home/rent_details/<%=rentDetails.rent_id %>"> <button type="button" class="btn btn-danger"><i class="fa  fa-angle-double-right"></i> View Details</button> </a> </li>

                                                            </ul>

                                                        </div>

                                                    </div>

                                                    <div class="property-amenities clearfix">

                                                        <span class="parking"><strong>Facing</strong><?=$row['facing']?></span>

                                                        <% if(rentDetails.property_sub_type == '14' || rentDetails.property_type == '1'){ %>

                                                        <span class="baths"><strong><%=rentDetails.builtup_area %></strong>Sq.Ft</span>

                                                        <span class="area"><strong> &nbsp;Posted By</strong><%=rentDetails.posted_by %> &nbsp;</span>

                                                        <% }else { %>

                                                        <span class="baths"><strong><%=rentDetails.bedrooms %></strong>BHK</span>

                                                        <span class="area"><strong><%=rentDetails.bathrooms %></strong>Bathrooms &nbsp;</span>

                                                        <% } %>


                                                    </div>

                                                </div>

                                            </li>
                                            <% } %>
                                        </ul>
                                        <% }else { %>
                                        <br><br>
                                        <h4 align='center'>No results matching your search !</h4>
                                        <% } %>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <script>
                setUpPropertyTypes("#property_type", "<%= property_type %>");
                getPropertySubTypes("<%= property_type %>", "#property_sub_type", "<%= property_sub_type %>");
                setUpCities("#city", '<%= city %>');
                showLocality('<%= city %>', "#showLocality",<%= locality %>)
                selectOption("bedrooms", "<%= bedrooms %>");
                selectOption("min_price", "<%= min_price %>");
                selectOption("max_price", "<%= max_price %>");
            </script>
            <% include includes/footer.ejs %>