<!DOCTYPE HTML>

<html class="no-js">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title> Spaces4All - <%=page_title %> </title>

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta name="author" content="">

    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="<%=base_url %>stylesheets/bootstrap.css" rel="stylesheet" type="text/css">

    <link href="<%=base_url %>stylesheets/style.css" rel="stylesheet" type="text/css">

    <link href="<%=base_url %>plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">

    <link href="<%=base_url %>plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <link href="<%=base_url %>plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

    <link class="alt" href="<%=base_url %>stylesheets/color.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>

    <script src="<%=base_url %>javascripts/modernizr.js"></script>
    <script>
        function show_sub_type(str) {

            if (str == '1') {
                $('#bedrooms').attr("disabled", true);
                $('#bathrooms').attr("disabled", true);
            } else {
                $('#bedrooms').attr("disabled", false);
                $('#bathrooms').attr("disabled", false);
            }
            if (str.length == 0) {
                document.getElementById("property_sub_type").innerHTML = "";
                return;
            }
            getPropertySubTypes(str, "#property_sub_type");
        }
        function Show_locality(str) {

            //alert(str);

            if (str.length == 0) {

                document.getElementById("Showlocality").innerHTML = "";

                return;

            }



            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari

                xmlhttp = new XMLHttpRequest();

            }

            else {// code for IE6, IE5

                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

            }

            xmlhttp.onreadystatechange = function () {

                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

                    //alert(xmlhttp.responseText);

                    document.getElementById("Showlocality").innerHTML = xmlhttp.responseText;

                }

            }

            xmlhttp.open("GET", "<?php echo base_url();?>ajax/get_locality/" + str, true);

            xmlhttp.send();

        }



        function hide_bedrooms(str) {

            var value = document.getElementById("property_type").value;

            if (str == '14') {

                $('#bedrooms').attr("disabled", true);

                $('#bathrooms').attr("disabled", true);

            } else {

                if (value == '1') {

                    $('#bedrooms').attr("disabled", true);

                    $('#bathrooms').attr("disabled", true);

                } else {

                    $('#bedrooms').attr("disabled", false);

                    $('#bathrooms').attr("disabled", false);

                }

            }

        }
        $(document).ready(function () {
            $("form#rent_out_form").submit(function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: "POST",
                    url: "<%=base_url %>home/add_rent_out",
                    data: formData,
                    success: function (result) {
                        console.log(result);
                        var className = "";
                        if (result.success) {
                            className = "alert alert-success fade in";
                            $('#form#rent_out_form').trigger("reset");
                        } else {
                            className = "alert alert-error fade in";
                        }
                        var displayMsg = '<div class="' + className + '"> <a href="#" data-dismiss="alert" class="close">x</a><strong>' + result.message + '</strong></div>';
                        $("#rent_out_form").prepend(displayMsg);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>



</head>

<body>

    <div class="body">

        <% include includes/header.ejs %>

        <div class="site-showcase">

            <div class="parallax page-header">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h1> RENT OUT </h1>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="main" role="main">

            <div id="content" class="content full">

                <div class="container">

                    <div class="page">

                        <div class="col-md-12">

                            <form action="<%=base_url %>home/add_rent_out" method="POST" id="rent_out_form"
                                enctype="multipart/form-data">
                                <div class="padding-as25 margin-30 lgray-bg">

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Property Name*:</label>

                                            <input type="text" name="property_name" id="property_name"
                                                class="form-control" value="" placeholder="Property Name">

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Property Type*:</label>

                                            <select name="property_type" id="property_type"
                                                onchange="show_sub_type(this.value)" class="form-control margin-0">
                                            </select>

                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Property Sub Type*:</label>

                                            <select name="property_sub_type" id="property_sub_type"
                                                onchange="hide_bedrooms(this.value)" class="form-control margin-0">

                                            </select>

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Builtup Area(Sq.ft)</label>

                                            <input type="text" name="area" class="form-control" value=""
                                                placeholder="Example : 2500 ">

                                        </div>



                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>State*:</label>

                                            <select name="state" id="state" class="form-control margin-0">


                                                <!-- <option value="">---SELECT---</option> -->

                                                <!-- <?php 

                                              $state = $this->crud_model->get_states();

                                              foreach ($state as $row5){

                                              ?>

                                                <option value="<?=$row5['state_id']?>">
                                                    <?=$row5['state_name']?></option>

                                                <?php 

                                              }

                                              ?> -->

                                            </select>
                                            <!-- <?php if ($this->session->flashdata('state')) {?><b style="color: red"><?=$this->session->flashdata('state')?></b><?php }?> -->

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>City*:</label>

                                            <select name="city" id="city"
                                                onchange="showLocality(this.value,'#Showlocality')"
                                                class="form-control margin-0 ">

                                                <option value="">---SELECT---</option>

                                                <!-- <?php 

                                              $city = $this->crud_model->get_city();

                                              foreach ($city as $row1){

                                              ?>

                                                <option value="<?=$row1['city_id']?>"
                                                    <?php if ($this->session->flashdata('city_value')){if($this->session->flashdata('city_value') == $row1['city_id']){echo 'selected';}}?>>
                                                    <?=$row1['city']?></option>

                                                <?php 

                                              }

                                              ?> -->

                                            </select>

                                            <!-- <?php if ($this->session->flashdata('city')) {?><b style="color: red"><?=$this->session->flashdata('city')?></b><?php }?> -->

                                        </div>



                                    </div><br>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Locality*:</label>

                                            <select name="locality" id="Showlocality" class="form-control margin-0">

                                                <!-- <?php 

                                      		  if ($this->session->flashdata('local_value')){

											  $local = $this->crud_model->get_locality_by_city($this->session->flashdata('city_value'));

											  foreach ($local as $row4){

											  ?>

                                                <option value="<?=$row4['locality_id']?>"
                                                    <?php if ($this->session->flashdata('local_value')==$row4['locality_id']){echo 'selected';}?>>
                                                    <?=$row4['locality']?></option>

                                                <?php 

											  }

											  }else {

											  ?>

                                                <option value="">---SELECT---</option>

                                                <?php 

                                              }

                                              ?> -->

                                            </select>

                                            <!-- <?php if ($this->session->flashdata('locality')) {?><b style="color: red"><?=$this->session->flashdata('locality')?></b><?php }?> -->

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Land Mark</label>

                                            <input type="text" name="land_mark" class="form-control"
                                                placeholder="Land Mark">

                                        </div>





                                    </div>

                                    <div class="row">



                                        <div class="col-md-6 col-sm-4">

                                            <label>Bedrooms*:</label>

                                            <select name="bedrooms" id="bedrooms" class="form-control margin-0 ">
                                                <option value="">---SELECT---</option>
                                                <% for (var i=0; i <= 8 ; i++) { %>
                                                <option value="<%=i %>"><%= i %></option>
                                                <% } %>
                                            </select>

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Bathrooms:</label>

                                            <select name="bathrooms" id="bathrooms" class="form-control margin-0 ">
                                                <option value="">---SELECT---</option>
                                                <% for (var i=0; i <= 8 ; i++) { %>
                                                <option value="<%=i %>"><%= i %></option>
                                                <% } %>

                                                <!-- 
                                                <?php 

                                              for ($j = 1;$j<=8;$j++){

                                              ?>

                                                <option value="<?=$j?>"
                                                    <?php if ($this->session->flashdata('bath_value')){if($this->session->flashdata('bath_value') == $j){echo 'selected';}}?>>
                                                    <?=$j?></option>

                                                <?php 

                                              }

                                              ?> -->

                                            </select>

                                        </div>

                                    </div><br>



                                    <div class="row">



                                        <div class="col-md-6 col-sm-4">

                                            <label>Price*:</label>

                                            <input type="text" name="price" class="form-control" value=""
                                                placeholder="Price">

                                            <!-- <?php if ($this->session->flashdata('price')) {?><b style="color: red"><?=$this->session->flashdata('price')?></b><?php }?> -->

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Maintenance</label>

                                            <input type="text" name="maintenance" class="form-control" value=""
                                                placeholder="Maintenance">

                                        </div>



                                    </div>



                                    <div class="row">



                                        <div class="col-md-6 col-sm-4">

                                            <label>Unit No</label>

                                            <input type="text" name="unit" class="form-control" value=""
                                                placeholder="Unit No">

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>No Of Floors</label>

                                            <input type="text" name="floors" class="form-control" value=""
                                                placeholder="No Of Floors">

                                        </div>

                                    </div>



                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Furnishing Status:</label>

                                            <select name="furnishing" id="furnishing" class="form-control margin-0 ">

                                                <option value="">---SELECT---</option>

                                                <option value="Unfurnished">
                                                    Unfurnished</option>

                                                <option value="Semifurnished">
                                                    Semifurnished</option>

                                                <option value="Fullyfurnished">
                                                    Fullyfurnished</option>

                                            </select>

                                        </div>



                                        <div class="col-md-6 col-sm-4">

                                            <label>Security Deposit</label>

                                            <input type="text" name="security_deposit" class="form-control" value=""
                                                placeholder="Security Deposit">

                                        </div>



                                    </div>



                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Facing*:</label>

                                            <select name="facing" id="facing" class="form-control margin-0 ">

                                                <option value="">---SELECT---</option>

                                                <option value="East">
                                                    East</option>

                                                <option value="West">
                                                    West</option>

                                                <option value="North">
                                                    North</option>

                                                <option value="South">
                                                    South</option>

                                            </select>

                                            <!-- <?php if ($this->session->flashdata('facing')) {?><b style="color: red"><?=$this->session->flashdata('facing')?></b><?php }?> -->

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Parking*:</label>

                                            <select name="parking" id="parking" class="form-control margin-0 ">
                                                <option value="">---SELECT---</option>
                                                <% for (var i=0; i <= 10 ; i++) { %>
                                                <option value="<%=i %>"><%= i %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Water Availability:</label>

                                            <input type="text" name="water" class="form-control"
                                                placeholder="Water Availability">

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Status Of Electricity:</label>

                                            <input type="text" name="electricity" class="form-control"
                                                placeholder="Status Of Electricity">

                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Tenents Preferred</label>

                                            <select name="tenents" class="form-control margin-0">

                                                <option value="">Select</option>

                                                <option value="Family">Family</option>

                                                <option value="Bachelor">Bachelor</option>

                                                <option value="Both">Both</option>

                                            </select>

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Posted By*</label>

                                            <select name="posted_by" class="form-control margin-0">

                                                <option value="">Posted by:</option>

                                                <option value="Owner">
                                                    Owner</option>

                                                <option value="Broker">
                                                    Broker</option>

                                            </select>

                                            <!-- <?php if ($this->session->flashdata('posted_by')) {?><b
                                                style="color: red"><?=$this->session->flashdata('posted_by')?></b><?php }?> -->

                                        </div>

                                    </div><br>

                                    <div class="row">

                                        <div class="col-md-4 col-sm-4">

                                            <label>Upload Photos:</label>

                                            <input type="file" name="photos[]" class="" multiple="multiple">

                                        </div>

                                    </div><br>



                                    <div class="row">

                                        <div class="col-md-12 col-sm-4">

                                            <label>Description:</label>

                                            <textarea name="description" id="description"
                                                class="form-control"></textarea>

                                        </div>

                                    </div>



                                    <div class="row">

                                        <div class="col-md-12">

                                            <label>Amenities :</label>

                                            <div class="checkbox" id="amenity_options">

                                                <!-- <?php 

								$amenities = $this->crud_model->get_amenities();

								foreach ($amenities as $row3){

								?>

                                                <div class="col-md-3">

                                                    <label><input type="checkbox" name="amenities1[]"
                                                            value="<?=$row3['amenity_id']?>"
                                                            <?php if (strpos($this->session->flashdata('amenities_value'),$row3['amenity_id']) !== false) {echo 'checked';}?>><?=$row3['amenity']?></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                </div>

                                                <?php }
								?> -->
                                            </div>

                                        </div>

                                    </div>



                                </div>



                                <div class="block-heading" id="details">

                                    <h4><span class="heading-icon"><i class="fa fa-user"></i></span>DETAILS</h4>

                                </div>

                                <div class="padding-as25 margin-30 lgray-bg">

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Name*:</label>

                                            <input type="text" name="name" class="form-control" placeholder="Name">

                                            <!-- <?php if ($this->session->flashdata('name')) {?><b
                                                style="color: red"><?=$this->session->flashdata('name')?></b><?php }?> -->

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Mobile No*:</label>

                                            <input type="text" name="phone" class="form-control"
                                                placeholder="Mobile No">

                                            <!-- <?php if ($this->session->flashdata('phone')) {?><b
                                                style="color: red"><?=$this->session->flashdata('phone')?></b><?php }?> -->

                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6 col-sm-4">

                                            <label>Email Id*:</label>

                                            <input type="text" name="email" class="form-control" placeholder="Email Id">

                                            <!-- <?php if ($this->session->flashdata('email')) {?><b style="color: red"><?=$this->session->flashdata('email')?></b><?php }?> -->

                                        </div>

                                        <div class="col-md-6 col-sm-4">

                                            <label>Available Time To call:</label>

                                            <input type="text" name="avail_time" class="form-control"
                                                placeholder="Available Time">

                                        </div>

                                    </div><br>



                                </div>



                                <div class="text-align-center" id="submit-property">

                                    <button type="submit" name="submit" class="btn btn-primary btn-lg"><i
                                            class="fa fa-check"></i> Submit Now</button>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Start Site Footer -->



    <% include includes/footer.ejs %>

</body>
<script>
    //setting up options for all the form fields
    setUpPropertyTypes("#property_type");
    setUpStates("#state");
    setUpCities("#city");
    setUpEminities('#amenity_options');
</script>

</html>