<% include ../includes/header.ejs %>

<!-- Left side column. contains the logo and sidebar -->

<% include ../includes/menu.ejs %>


<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper" style="min-height: 1350px !important;">

    <!-- Content Header (Page header) -->

    <section class="content-header">

        <h1>

            <%= page_title %>

        </h1>

        <ol class="breadcrumb">

            <li><a href="<%= base_url %>admin"><i class="fa fa-home"></i> Home</a></li>

            <li class="active"><%= page_title %></li>

        </ol>

    </section>


    <!-- Main content -->


    <section class="content">

        <div class="row">

            <div class="col-md-12">

                <div class="search-list">

                    <form action="<%= base_url %>admin/projects" name="Grid_form" method="get">

                        <div class="row" style="padding-bottom: 10px">


                            <div class="col-md-4">

                                <select name="project_type" id="project_type" onchange="getProjectSubTypes(this.value,'#project_sub_type')" class="form-control margin-0">

                                    <option value="0">Project Type</option>
                                </select>

                            </div>


                            <div class="col-md-4">

                                <select name="project_sub_type" id="project_sub_type" class="form-control margin-0">

                                    <option value="">Project Sub Type</option>
                                </select>

                            </div>


                            <div class="col-md-4">

                                <select name="city" id="city" onchange="showLocality(this.value,'#Showlocality')" class="form-control margin-0">
                                    <!--showLocality(this.value,'#showLocality')"-->

                                    <option value="">City</option>
                                </select>

                            </div>


                            <!--<div class="col-md-1">   -->

                            <!--     <button type="button" onclick="Show_Div(Div_1)" class="btn btn-primary btn-block">Filters</button>-->

                            <!--</div> -->

                        </div>

                        <div class="row" id="Div_1" style="padding-bottom: 10px">


                            <div class="col-md-2">

                                <select name="locality" id="Showlocality" class="form-control margin-0">

                                    <option value="">---locality---</option>
                                </select>

                            </div>


                            <div class="col-md-2">

                                <select name="bedrooms" id="bedrooms" class="form-control margin-0 ">

                                    <option value="">Bed Rooms</option>
                                    <% for (var i = 1; i <= 5 ; i++) { %>
                                    <option value="<%= i %>"><%= i %></option>
                                    <% } %>

                                </select>

                            </div>


                            <div class="col-md-2">

                                <select id="min_price" name="min_price" class="form-control margin-0 " onchange="Show_max_price(this.value)">

                                    <option value="">Min Price</option>
                                    <% for (var i = 500000; i <= 30000000; i += 1000000) {
                                        var price, value = i;
                                        if (value >= 10000000) {
                                            price = parseFloat(value) / 10000000;
                                            price = price + " Crore";
                                        } else if (value >= 100000) {
                                            price = parseFloat(value) / 100000;
                                            price = price + " Lac";
                                        }
                                    %>
                                    <option value="<%= value %>"> <%= price %></option>

                                    <% } %>
                                </select>

                            </div>


                            <div class="col-md-2">

                                <select name="max_price" class="form-control margin-0 " id="max_price">

                                    <option value="">Max Price</option>
                                    <% for (var i = 1000000; i <= 50000000; i += 1000000) {
                                        var price, value = i;
                                        if (value >= 10000000) {
                                            price = parseFloat(value) / 10000000;
                                            price = price + " Crore";
                                        } else if (value >= 100000) {
                                            price = parseFloat(value) / 100000;
                                            price = price + " Lac";
                                        }
                                    %>
                                    <option value="<%= value %>"> <%= price %></option>

                                    <% } %>
                                </select>

                            </div>


                            <div class="col-md-2">

                                <select name="possession" class="form-control margin-0 ">

                                    <option value="">Possession</option>

                                    <% for(var i = 2015;i <= 2025;i++) { %>
                                    <option value="<%= i %>"><%= i %></option>
                                    <% } %>
                                </select>

                            </div>

                            <div class="col-md-2">

                                <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-search"></i> Search
                                </button>

                            </div>


                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">


                <div class="box">

                    <div class="box-header">

                        <div class="col-md-5"></div>

                        <div class="col-md-2">

                            <a href="<%= base_url %>admin/projects/add" class="btn btn-block btn-default">Add
                                Project</a>

                        </div>

                    </div>

                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">

                            <thead>

                                <tr>

                                    <th>S.No</th>

                                    <th>Project Name</th>

                                    <th>Project Type</th>

                                    <th>Project Sub Type</th>

                                    <th>City</th>

                                    <th>Price Range(Rs)</th>

                                    <th>Exclusive</th>

                                    <th>Created At</th>

                                    <th>Actions</th>

                                </tr>

                            </thead>

                            <tbody>
                                <% for(var i = 0; i < projects.length;i++) {
                                var project = projects[i] %>
                                <tr>

                                    <td><%= i %></td>

                                    <td><%= project.project_name %></td>

                                    <td><%= project.project_type_name %></td>

                                    <td><%= project.project_sub_type_name %></td>

                                    <td><%= project.city %></td>

                                    <td>
                                        <% if(project.min_price_formatted == 'Price on request' && project.max_price_formatted == 'Price on request') { %>
                                        <%= "Price on Request" %>
                                        <% }else { %>
                                        <%= project.min_price_formatted %> - <%= project.max_price_formatted %>
                                        <% } %>

                                    </td>

                                    <td>
                                        <% if (project.exclusive == '1') { %>
                                        <a href="<%= base_url %>admin/projects/exclusive/0/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to Remove From Exclusive Projects ?')"><b style="color: red">Yes</b></a>
                                        <% }else { %>
                                        <a href="<%= base_url %>admin/projects/exclusive/1/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to  Make It Exclusive Project ?')"><b>No</b></a>
                                        <% } %>
                                    </td>

                                    <td><%= getDate(project.datetime) %></td>

                                    <td>

                                        <a href="<%= base_url %>admin/projects/edit/<%= project.project_id %>"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;

                                        <a href="<%= base_url %>admin/projects/delete/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to Delete ?')"><i class="fa fa-trash-o"></i></a>
                                        <br />
                                        <a href="#" onclick="showAjaxModal('<%= base_url %>admin/projects/<%= project.project_id %>','project')">Details</a>
                                        <br />
                                        <a href="<%= base_url %>admin/projects/photos/<%= project.project_id %>">Images</a>
                                        <br />

                                        <a href="<%= base_url %>admin/projects/configurations/<%= project.project_id %>">Configurations</a>
                                        <br />

                                        <% if (project.project_status == '1') { %>

                                        <a href="<%= base_url %>admin/projects/status/0/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to Inactive ?')"><b style="color: red">In-active</b></a>

                                        <% }else { %>

                                        <a href="<%= base_url %>admin/projects/status/1/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to Active ?')"><b>Active</b></a>

                                        <% } %>
                                        <br />

                                        <% if (project.featured_project == '1') { %>

                                        <a href="<%= base_url %>admin/projects/featured/0/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to Remove From Featured Projects ?')"><b style="color: red">Remove-Featured</b></a>

                                        <% }else { %>

                                        <a href="<%= base_url %>admin/projects/featured/1/<%= project.project_id %>" onclick="return confirm('Are You Sure Want to  Make It Featured Projects ?')"><b>Make-Featured</b></a>

                                        <% } %>

                                    </td>

                                </tr>
                                <% } %>
                            </tbody>

                        </table>

                    </div>

                    <!-- /.box-body -->

                </div>

                <!-- /.box -->

            </div>

            <!-- /.col -->

        </div>

        <!-- /.row -->

    </section>

    <!-- /.content -->


</div>

<!-- /.content-wrapper -->


<!-- Modal -->


<!-- (Ajax Modal)-->

<div class="modal fade" id="modal_ajax">

    <div class="modal-dialog">

        <div class="modal-content">


            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h4 class="modal-title">Project Details</h4>

            </div>


            <div class="modal-body">


            </div>


            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>


        </div>

    </div>

</div>
<script>
    setUpProjectTypes('#project_type', '<%= project_type %>');
    getProjectSubTypes("<%= project_type %>", "#project_sub_type", "<%= project_sub_type %>");
    setUpCities("#city", '<%= city %>');
    showLocality('<%= city %>', "#Showlocality", "<%= locality %>")
    selectOption("bedrooms", "<%= bedrooms %>");
    selectOption("min_price", "<%= min_price %>");
    selectOption("max_price", "<%= max_price %>");
    selectOption("possession", "<%= possession %>");
</script>


<% include ../includes/footer.ejs %>