<% include ../includes/header.ejs %>

<!-- Left side column. contains the logo and sidebar -->

<% include ../includes/menu.ejs %>


<!-- Content Wrapper. Contains page content -->

<script>
    function updateValues(projectSubType, projectSubTypeId, projectTypeId) {
        setUpValue('sub_type1', projectSubType);
        setUpValue('project_sub_type_id', projectSubTypeId);
        selectOption('project_type_id1', projectTypeId);
        showAjaxModal('<%= base_url %>admin/project_sub_type/edit/' + projectSubTypeId, 'project_sub_type');
    }
</script>

<div class="content-wrapper">

    <!-- Content Header (Page header) -->

    <section class="content-header">

        <h1>

            <%= page_title %>

        </h1>

        <ol class="breadcrumb">

            <li><a href="<%= base_url %>admin"><i class="fa fa-home"></i> Home</a></li>

            <li class="active"><%= page_title %></li>

        </ol>

    </section>


    <!-- Main content -->


    <section class="content">

        <div class="row">

            <div class="col-xs-12">


                <div class="box">

                    <div class="box-header">

                        <div class="col-md-5"></div>

                        <div class="col-md-2">

                            <button type="button" class="btn btn-block btn-default"

                                    data-toggle="modal" data-target="#myModal">Add Sub Type
                            </button>

                        </div>

                    </div>

                    <!-- /.box-header -->

                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">

                            <thead>

                            <tr>

                                <th>S.No</th>

                                <th>Project Type</th>

                                <th>Project Sub Type</th>

                                <th>Actions</th>

                            </tr>

                            </thead>

                            <tbody>
                            <% for(var i = 0;i < project_sub_types.length;i++) {
                                var project_sub_type = project_sub_types[i]; %>

                            <tr>

                                <td><%= i %></td>

                                <td><%= project_sub_type.project_type %></td>

                                <td><%= project_sub_type.sub_type %></td>

                                <td>

                                    <a href="#"
                                       onclick="updateValues('<%= project_sub_type.sub_type %>','<%= project_sub_type.project_sub_type_id %>','<%= project_sub_type.project_type_id %>')"><i
                                                class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;

                                    <a href="<%= base_url %>admin/project_sub_type/delete/<%= project_sub_type.project_sub_type_id %>"
                                       onclick="return confirm('Are You Sure Want to Delete ?')"><i
                                                class="fa fa-trash-o"></i></a>

                                </td>

                            </tr>

                            <% } %>

                            </tbody>

                        </table>

                    </div>

                    <!-- /.box-body -->

                </div>

                <!-- /.box -->

            </div>

            <!-- /.col -->

        </div>

        <!-- /.row -->

    </section>

    <!-- /.content -->


</div>

<!-- /.content-wrapper -->


<!-- Modal -->


<!-- (Ajax Modal)-->

<div class="modal fade" id="modal_ajax">

    <div class="modal-dialog">

        <div class="modal-content">

            <form action="<%= base_url %>admin/project_sub_type/update" method="post">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <h4 class="modal-title">Edit Project Sub Type</h4>

                </div>


                <div class="modal-body">
                    <div class="box-body">

                        <div class="form-group">

                            <label for="project_type">Project Type</label>

                            <select name="project_type_id1" id="project_type_id1" class="form-control" required="required">
                                <script>
                                    setUpProjectTypes('#project_type_id1');
                                </script>
                            </select>

                        </div>

                    </div>


                    <div class="box-body">

                        <div class="form-group">

                            <label for="property_sub_type">Project Sub Type</label>
                            <input class="form-control" id="sub_type1" name="sub_type1"
                                   placeholder="Enter Project Sub Type" type="text" value="" required="required">

                        </div>

                    </div>


                    <input type="hidden" name="project_sub_type_id" value="">

                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Save Changes</button>

                </div>

            </form>

        </div>

    </div>

</div>


<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">


        <!-- Modal content-->

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title">Add Project Sub Type</h4>

            </div>

            <form action="<%= base_url %>admin/project_sub_type/add" method="post">

                <div class="modal-body">

                    <div class="box-body">

                        <div class="form-group">

                            <label for="project_type">Project Type</label>

                            <select id="project_type_id" name="project_type_id" class="form-control" required="required">

                                <option value="">Select Project Type</option>
                                <script>
                                    setUpProjectTypes('#project_type_id');
                                </script>

                            </select>

                        </div>

                    </div>


                    <div class="box-body">

                        <div class="form-group">

                            <label for="project_sub_type">Project Sub Type</label>
                            <input class="form-control" id="sub_type" name="sub_type"
                                   placeholder="Enter Project Sub Type" type="text" required="required">

                        </div>

                    </div>

                    <!-- /.box-body -->


                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Add</button>

                </div>

            </form>

        </div>


    </div>

</div>


<% include ../includes/footer.ejs %>